/*********************************************************************
(C) ZE CMS, Humboldt-Universitaet zu Berlin
Written 2013 by Daniel Rohde <d.rohde@cms.hu-berlin.de>
**********************************************************************
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
**********************************************************************/
body {
	padding: 0;
	margin:0;
	font: 0.8em/1.5em Scala,Verdana,Helvetica;
}
ul {
	list-style: none outside none;
}
a {
	text-decoration: none;
	color: black;
}
#overlay, .overlay {
	z-index: 10000;
	opacity: 0.5;
	filter: Alpha(opacity=50); 
	background: white url(images/ajax-loader-circle.gif) no-repeat center center; 
	cursor: wait;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#top {
	position: fixed;
	height: 2.5em;
	padding: 0.5em;
	left: 0;
	right: 0;
	top:0;
	z-index: 100;
	color: white;
	background-color: #1d2d44;
	box-shadow: 0 0 10px rgba(0,0,0,0.5),0 -2px 10px #222222 inset;
	line-height: 2.5em;
	padding: 0.5em;
}
#nav {
	position: fixed;
	top: 3.5em;
	left: 0;
	width: 160px;
	height: 100%;
	background-color: #eeeeee;
	box-shadow: -3px 0 7px #000000;
	color: black;
	z-index: 75;
	overflow:hidden;
}
#nav a {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #ffffff;
	color: #666666;
	display: block;
	font-size: 1.2em;
	padding: 0.6em 0.5em 0.4em 1.5em;
	text-decoration: none;
	text-shadow: 0 1px 0 #f8f8f8;
	min-height: 1.4em;
}
#nav ul {
	padding: 0;
	margin: 0;
	border: 0 none;
}
#nav > ul > li {
	border: 0 none;
	font-size: 100%;
	padding: 0;
	margin: 0;
	outline: 0 none;
	vertical-align: baseline;
	
}
#nav li:hover {
	background-color: #dddddd;
}
#nav li:hover .disabled {
	background-color: #eeeeee;
}
#prefs {
	position: fixed;
	bottom: 2em;
	width: 160px;
	overflow: hidden;
}
#content {
	position: absolute;
	left: 12.5em;
	top: 3.5em;
	width: 85%;
}
#controls {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eeeeee;
	box-shadow: 0 -3px 7px #000000;
	height: 2.8em;
	margin: 0;
	position: fixed;
	top: 3.5em;
	left: 12.5em;
	padding-left: 1em;
	width: 100%;
	z-index: 50;
}
#fileListTableContent {
	padding-top: 3em;
}
#fileListTable {
	top: 37px;
	width: 100%;
	padding-bottom: 2em;
	border-spacing: 0;
	white-space: nowrap;
	border-collapse: separate;
	clear: both;
}
table th, table td {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	text-align: left;
	vertical-align: middle;
}
table th {
	color: #999999;
	height: 2em;
	padding: 0 0.5em;
	background-color: white;
}
table th.dragged {
	opacity: 0.8;
	filter: Alpha(opacity=80);
	cursor: move;
}
table .draghover {
	border-left: 2em solid #aaaaaa;
}
table td {
	background-position: 1em 0em;
	background-repeat: no-repeat;
	border-bottom: 1px solid #eeeeee;
}
table,th,td {
	vertical-align: middle;
}
#headerSelector {
	width: 22px;
	padding-left: 8px;
}

#headerName img {
	border: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
}
.toggleselection, .selectall, .selectnone {
	width: 20px;
	height: 22px;
	margin-left: 4px;
	margin-bottom: 3px; 
	border: 0;
	cursor: pointer;
	
	opacity: 0.5;
	filter: Alpha(opacity=50);
}
.toggleselection {
	background: white url(images/sprite.png) no-repeat -2px -895px;
}
.selectall {
	background: white url(images/sprite.png) no-repeat -2px -1295px;
}
.selectnone {
	background: white url(images/sprite.png) no-repeat -2px -1335px;
}
.toggleselection:hover, .selectall:hover, .selectnone:hover {
	opacity: 1;
	filter: Alpha(opacity=100);
}
#headerSize {
	width: 8em;
}
#headerDate, #headerCreated {
	width: 20em;
}
#headerMode {
	width: 12ex;
	text-align: center;
}
#headerMime {
	width: 15ex;
}
#headerOption {
	width: 16px;
}
#headerUID, #headerGID {
	width: 8ex;
}
#fileactions {
	float: right;
	margin: 0;
	border: 0;
	padding: 0 1em 0 0;
}

#fileactions.hidelabels .label  {
	display: none;
}
#fileactions a {
	min-width: 22px;
	padding: 4px 4px 4px 22px;
}
#fileactions a:hover {
	background-color: #dddddd;
}
#fileactions.hidelabels a {
	padding: 4px 12px 4px 12px;
	margin-left: 4px;
	margin-right: 4px;
}
#fileList tr td{
	height: 2em;
}

#fileList .selectbutton {
	opacity: 0;
	filter: Alpha(opacity=0); 
}
#fileList .selectbutton:hover, #fileList .selectbutton:focus {
	opacity: 0.8;
	filter: Alpha(opacity=80); 
}
#fileList .selectbutton:checked {
	opacity: 1;
	filter: Alpha(opacity=100); 
}
#fileList .selectbutton:disabled {
	opacity: 0;
	filter: Alpha(opacity=0); 
}
#fileList .selector {
	text-align: center;
}
#fileList .filename .nametext {
	padding-left: 10px; 
	float: left;
}
div.filename a:focus {
	border: 1px dotted black;
	width: 100%;
	display: block;
}
#fileList .size, th#headerSize {
	text-align: right;
	padding-right: 8px;
}
#fileList .mode  {
	text-align: center;
	font-family: monospace;
}
#fileList tr:hover, #fileList tr.draghover, #fileList tr:focus {
	background-color: #ededed;
}
tr.isreadable-no, tr.isreadable-no a {
	color: #999999;
}
tr.isreadable-no:hover {
	color: #999999;
	background-color: #ffaaaa;
}

.iswriteable-no .action.delete,
.iswriteable-no .action.rename,
.isreadable-no .action.props, 
.unselectable-yes .listaction.delete,
.unselectable-yes .action.rename,
.islocked-yes .action.delete,
.islocked-yes .action.rename,
.islocked-yes .listaction.delete
{
	display: none;
}
.islink-yes .filename {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWAgID////n1o2sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggIDCkHwhxH/QAAACBJREFUCNdjYGBgqG9gcGxgcAaTDg0MEQ0MFQ0gQQYGAGPrBtSJLPp/AAAAAElFTkSuQmCC) no-repeat 20px top;
}

.islocked-yes .filename {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAG7AAABuwE67OPiAAAAB3RJTUUH3QobCDgZ0jso7QAAAQtJREFUGNNtTzFLw2AUvJc0aSNEBOlQqUYozg4ZhOCQQQUhgqC/IP0Rzsnokt0xu24KgqsQccqQwUJaFSxtHQKiItS8z0E+Sak33b073nGECqIo2rMs64SI1KIoTn3fv5KeIkkYhgee512nafqYJEnPtu3LOI6PpF+TxHGc/SzLXoIg6AKApmlbruvuAjif+ViWbOR5fyS1rtcHo/HYkJokub/ovn29DzF57t8JFtRcX91UFzuN7cMzc6ba0J7MzsoNjE/smAtAc62HIS1jbgxAYAZYAKUASAEg8F/wF2oNUOeulWqAwEIBM6FkAWauTvgL0kMujm9fN/R88FEXQlC73fheahVTADqA6Q/1RVs9dDRP/wAAAABJRU5ErkJggg==) no-repeat 20px top; 
}
.islink-yes.islocked-yes .filename {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWAgID////n1o2sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggIDCkHwhxH/QAAACBJREFUCNdjYGBgqG9gcGxgcAaTDg0MEQ0MFQ0gQQYGAGPrBtSJLPp/AAAAAElFTkSuQmCC) no-repeat 20px top,
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAG7AAABuwE67OPiAAAAB3RJTUUH3QobCDgZ0jso7QAAAQtJREFUGNNtTzFLw2AUvJc0aSNEBOlQqUYozg4ZhOCQQQUhgqC/IP0Rzsnokt0xu24KgqsQccqQwUJaFSxtHQKiItS8z0E+Sak33b073nGECqIo2rMs64SI1KIoTn3fv5KeIkkYhgee512nafqYJEnPtu3LOI6PpF+TxHGc/SzLXoIg6AKApmlbruvuAjif+ViWbOR5fyS1rtcHo/HYkJokub/ovn29DzF57t8JFtRcX91UFzuN7cMzc6ba0J7MzsoNjE/smAtAc62HIS1jbgxAYAZYAKUASAEg8F/wF2oNUOeulWqAwEIBM6FkAWauTvgL0kMujm9fN/R88FEXQlC73fheahVTADqA6Q/1RVs9dDRP/wAAAABJRU5ErkJggg==) no-repeat 20px bottom;
}

#fileList tr.selected {
	background-color: #dadada;
}
#fileList tr.selected:hover, #fileList tr.selected:focus {
	background-color: #aaaaaa;
}
#fileList tr.cutted, #fileList tr.cutted a {
	color: #aaaaaa;
}

.filterbox {
	position: absolute;
	top: 3px;
	right: 2em;
	color: #888888;
	background-color: #F7F7F7;
	height: 2.7em;
	font-weight: bold;
	z-index: 80;
}
.filterbox .action.clearfilter {
		background: url(images/sprite.png) no-repeat left -215px;
		width: 22px;
}
.filterbox input:focus {
	width: 15em;
}
.invisible {
	visibility: hidden;
}
.listaction {
	padding-left: 1em;
	padding-right: 0em;
}
.fileactions .action {
	padding-left: 22px;
	padding-right: 0em;
}
#selstats { 
	padding-right: 1em;
}
.action.rename {
	background: url(images/sprite.png) no-repeat left -498px;
}
.action.delete, .listaction.delete {
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: left -218px;
}
.action.props {
	background: url(images/sprite.png) no-repeat 2px -21px;
}
.listaction.delete {
	background-position: 4px -214px;
}

.listaction.copy {
	background: url(images/sprite.png) no-repeat center -134px;
}
.listaction.cut {
	background: url(images/sprite.png) no-repeat center -174px;
}
.listaction.paste {
	background: url(images/sprite.png) no-repeat center -374px;
}
.icon {
	width: 20px;
	max-height: 80px;
	float: left;
	margin-left: 0.2em;
	transition: width 1s;
	-webkit-transition: width 1s;
	-ms-transition: width 1s;
}
.icon.thumbnail:hover {
	width: 120px;
	max-height: none;
}

.template {
	display: none;
}
#path,#pathinput {
	z-index: 60;
	background-color: inherit;
	/*position: absolute;
	left: 13em;
	top: 0;
	width: 100%;*/
	padding: 0.2em 0.5em 0 1.5em;
	text-decoration: none;
	text-shadow: 0 1px 0 #f8f8f8;
	font-size: 100%;
}
.action.changedir {
	background: url(images/sprite.png) no-repeat center -856px;
}
#pathinput {
	z-index: 70;
	background-color: inherit;
	width: 100%;
	height: 2.4em;
	padding-top: 5px;
}
#filelistactions {
	display: none;
/*
	position: absolute;
	left: 18em; 
	top: 0em;
	z-index: 70;
*/
	padding-left: 1em;
	padding-top: 0.2em;
	background-color: inherit;
	width: 100%;
	white-space: nowrap;
	height: 2.6em;
}
#new {
/*	position: absolute;
	left: 0em;
	top: 0em;
	background-color: inherit;
	padding-left: 1em;
*/
	float:left;
	padding-top: 3px;
	z-index: 50;
	white-space: nowrap;
	padding-right: 1em;
}
#new ul, #bookmarks ul  {
	border: 1px solid #dddddd;
	box-shadow: 3px 0 7px #dddddd;
	padding: 0;
	margin: 0;
	background-color: white;
	position: absolute;
}
#new ul li, #bookmarks ul li  {
	padding: 0.4em;

	background-color: white;
	border: 1px solid white;
}
#new ul li.sep, #bookmarks ul li.sep {
	border-top: 1px solid #999999;
}
#new ul li:hover, #bookmarks ul li:hover, #autorefresh ul li.action:hover {
	background-color: #f0f0f0;
	border: 1px dotted #dddddd;
}
#new ul li a, #bookmarks ul li a  {
	padding: 0.2em 0.5em 0.2em 22px ;
}
.action.create-folder {
	background: url(images/sprite.png) no-repeat left -738px;
}
.action.create-file {
	background: url(images/sprite.png) no-repeat left -778px;
}
.action.create-symlink {
	background: url(images/sprite.png) no-repeat left -818px;
}
.renamefield {
	background-color: inherit;
	padding-left: 30px;
}
.hidden {
	display: none;
}
#notification {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 2em;
	left: 50%;
	padding: 2em;
	text-align: center;
	margin-left: -300px;
	width: 600px;
	min-height: 50px;
}
#notification.error {
	background-color: #ffaaaa;
	z-index: 1002;
}
#notification.warn {
	background-color: yellow;
	z-index: 1001;
}
#notification.info {
	background-color: #aaffaa;
	z-index: 1000;
}
#clipboard {
	position: absolute;
	top: 0em;
	padding-top: 0.8em;
	z-index: 60;
}
.inplace {
	display: inline;
}
form {
	display: inline;
}

input.file-upload {
	opacity: 0;
	filter: Alpha(opacity=0); 
	position: absolute;
	top: -1000px;
	z-index: 0;
}
#progress {
	display: none;
	z-index: 100;
	background-color: white;
}
#progress .bar {
	background-color: #ddddff;
	color: black;
	border: 1px solid #aaaaff;
	height: 2em;
	white-space: nowrap;
	vertical-align: middle;
}
#progress .info {
	min-height: 10em;
	max-height: 15em;
	overflow: auto;
	background-color: white;
	margin-top: 0.5em;
	font-size: 0.9em;
}
#progress .info .fileprogress {
	width: 95%;
	border: 1px solid #dddddd;
	margin: 0.5em;
	padding: 2px;
}
#progress .info .fileprogressbar {
	width: 0%;
	border: 0;
	height: 1.5em;
	white-space: nowrap;
	padding: 1px;
	margin-bottom: 2px;
}
#progress .info .cancel {
	float: right;
	opacity: 0.5;
	filter: Alpha(opacity: 50);
	background: url(images/sprite.png) no-repeat center -698px;
	width: 22px;
}
#progress .info .cancel:hover {
	opacity: 1;
	filter: Alpha(opacity: 50);
}
#progress .info .fileprogressbar.running {
	border-bottom: 2px solid #4444ff;
}
#progress .info .fileprogressbar.done {
	border: 0;
	white-space: normal;
	height: auto;
}
#progress .info .fileprogressbar.failed {
	background-color: #ffbbbb; 
	white-space: normal;
	height: auto;
}
.ajax-loader {
	z-index: 10000;
	background: white url(images/ajax-loader.gif) no-repeat 2em 5em;
	opacity: 0.7;
	filter: Alpha(opacity=70); 
	position: fixed;
	top: 3.5em;
	left: 12.5em;
	display: none;
	width: 100%;
	height: 100%;
}
#confirmdialog { 
	text-align: center;
}
.link {
	cursor: pointer;
}
.link:hover {
	background-color: #dddddd;
}
a.disabled, .button.disabled, li.disabled {
	opacity: 0.5;
	filter: Alpha(opacity=50); 
}
a.disabled, .link.disabled {
	color: #999999;
}
.link.neverdisabled, a.neverdisabled {
	opacity: 1;
	filter: Alpha(opacity=1); 
	color: black;
}
.nowrap {
	white-space: nowrap;
}
#about {
	text-align: center;
}
li.sep {
	border-top: 1px solid #999999;
}
#content.hover {
	border: 5px solid green;
}
#bookmarks {
	width: 100px;
}
#bookmarks,#bookmarksmenu {
	display: inline;
	position: absolute;
}
.action.addbookmark {
	background: url(images/sprite.png) no-repeat center -54px;
}
.action.bookmarkmenu {
	background: white url(images/sprite.png) no-repeat center -94px;
}
.action.rmsinglebookmark {
	background: url(images/sprite.png) no-repeat left -220px;
	width: 22px;
}
#bookmarksmenu ul {
	padding: 0;
	margin: 0;
}
#bookmarksmenu ul li{
	background-color: white;
	width: 30ex;
	z-index: 100;
	padding: 2px 2px 2px 22px;
	margin:0;
}
.action.rmbookmark {
	background: white url(images/sprite.png) no-repeat 2px -212px;
	padding-left: 24px;
}
.action.rmallbookmarks {
	background: white url(images/sprite.png) no-repeat 2px -218px;
	padding-left: 24px;

}
.action.gotobookmark {
	background: white url(images/sprite.png) no-repeat 2px -56px;
	padding-left: 24px;

}
#quota {
	text-decoration: none;
	font-weight: normal;
	font-size: 0.8em;
	color: #444444;
	margin: 2px;
	min-height: 16px;
}
#quota .quotabar {
	float: left;
	width: 10em;
	border: 1px solid #dddddd;
	background-color: white;
	padding: 0; margin: 0 1em 0 1em;
	height: 1.6em;
}
#quota .quotaused {
	background-color: #aaaaaa;
	white-space: nowrap;
	margin: 0;
	border: 1px outset #dddddd;
	height: 1.5em;
	text-align: right;
}
#quota.warn, #quota .warn {
	background-color: yellow;
}
#quota.critical, #quota .critical {
	background-color: red;
	color: yellow;
}

.right {
	text-align: right;
	float: right;
}
.left {
	text-align: left;
	float: left;
}
ul.ui-autocomplete {
	z-index: 1100;
}
td.center {
	text-align: center;
}
#nav .action.refresh {
	background: url(images/sprite.png) no-repeat 2px -410px;
}
#nav .action.viewfilter {
	background: url(images/sprite.png) no-repeat 2px -651px;
}
#nav .action.settings {
	background: url(images/sprite.png) no-repeat 2px -1132px;
}
#nav .action.about {
	background: url(images/sprite.png) no-repeat 2px -12px;
}
.viewfilterinfo {
	background-color: yellow;
	font-size: 0.8em;
	padding-left: 1.3em;
}

.langswitch {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 110;
	color: white;
	padding-right: 7px;
}
.langswitch a {
	color: white;
}

.tablesorter-head {
	cursor: pointer; 
	padding-left: 10px;
	padding-right: 10px;
}
.tablesorter-up, .tablesorter-down {
	border: 1px inset #eeeeee;
}
.tablesorter-up {
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggQDiQca/5bQgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABLSURBVBjThY/BDsAgCEOLF9xfv7/Wm150USNbExLSFgrSDhsVwiPhnQLaKQImydJBXJGWPgeeNk0OlM9NQF1inyjax+H59pT+SEnqvToRLPSNNw0AAAAASUVORK5CYII=) no-repeat left center,
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggQDiQca/5bQgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABLSURBVBjThY/BDsAgCEOLF9xfv7/Wm150USNbExLSFgrSDhsVwiPhnQLaKQImydJBXJGWPgeeNk0OlM9NQF1inyjax+H59pT+SEnqvToRLPSNNw0AAAAASUVORK5CYII=) no-repeat right center;
}
.tablesorter-down {
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggQDiU4TuaO0gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAuSURBVBjTY2AgBTQ0NPzHJceErABZITKbEZ9JDQ0NjHCTkAVwWkcIMBHjcOoBABxPEgaCuzXFAAAAAElFTkSuQmCC) no-repeat left center,
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggQDiU4TuaO0gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAuSURBVBjTY2AgBTQ0NPzHJceErABZITKbEZ9JDQ0NjHCTkAVwWkcIMBHjcOoBABxPEgaCuzXFAAAAAElFTkSuQmCC) no-repeat right center;
}

input[readonly=readonly] {
	opacity: 0.5;
	filter: Alpha(opacity=50); 
}
.ui-accordion .ui-accordion-content {
	padding: 0;
}
img {
	border: 0;
}
.action.upload {
	background: url(images/sprite.png) no-repeat left -536px;
	padding-left: 8px;
}
.logout-button {
	padding-left: 22px;
	background: url(images/sprite.png) no-repeat 2px -932px;
}
.help-button {
	padding-left: 22px;
	background: url(images/sprite.png) no-repeat 2px -972px;
}
.home-button {
	padding-left: 22px;
	background: url(images/sprite.png) no-repeat 2px -1012px;
}
.contact-button {
	padding-left: 22px;
	background: url(images/sprite.png) no-repeat 2px -1372px;
}
.small {
	font-size: 0.2em;
	color: #888888;
}
.confirmdialogsetting {
	padding: 1em 0 0 0;
	text-align: left;
	clear: both;
}
.ui-widget-overlay {
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #000000 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #000000 100%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #000000 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #000000));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #000000 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #000000 100%);
	opacity: 0.7;
	filter: Alpha(opacity=50); 

}
#autorefresh {
	display: inline;
	position: absolute;
	margin-left: 100px;
	top: 2px;
}
#autorefresh ul {
	margin: 0;
	padding: 2px;
	background-color: white;
	border: 1px solid #DDDDDD;
	box-shadow: 3px 0 7px #DDDDDD;
}
#autorefresh ul li {
	border: 1px solid white;
	cursor: pointer;
}
#autorefresh ul li.sep {
	border-top: 1px solid #999999;
}
.autorefreshtimer {
	text-align: center;
}
.action.setautorefresh {
	padding-left: 24px;
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: 2px -420px;
	height: 24px;
}
.action.autorefreshmenu {
	background: url(images/sprite.png) no-repeat center -414px;
}
#autorefreshtimer {
	display: none;
	position: fixed;
	right: 5px;
	bottom: 5px;
	color: #666666;
	background: white url(images/sprite.png) no-repeat left -418px;
	padding: 2px 2px 2px 24px;
	z-index: 1000;
	border: 1px solid #666666;
	box-shadow: 3px 0 7px #666666;
	width: 125px;
	height: 20px;
	cursor: move;
}
.action.autorefreshtoggle {
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: 2px -1180px;
	padding-left: 24px;
	height: 24px;
}
.action.autorefreshtoggle.running {
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: 2px -1220px;
	padding-left: 24px;
	height: 24px;
}
.action.autorefreshclear {
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: 2px -1259px;
	padding-left: 24px;
	height: 24px;
}
#autorefreshtimer .action.autorefreshtoggle {
	background-position: center -1182px;
	padding-left: 24px;
	height: 24px;
}
#autorefreshtimer .action:hover {
	background-color: #eeeeee;
}
#autorefreshtimer .action.autorefreshtoggle.running {
	background-position: center -1222px;
	padding-left: 24px;
	height: 24px;
}

#autorefreshtimer .action.autorefreshclear {
	background-position: center -1262px;
	width: 24px;
	padding-left: 24px;
}
.autorefreshtimer.disabled {
	display: none;
	visibility: hidden;
}
.collapsible {
	position: fixed;
	width: 16px;
	height: 16px;
	cursor: pointer;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	border: 1px solid #aaaaaa;
}
.collapsible.action.collapse-sidebar {
	position:fixed;
	left: 11.8em;
	background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUUBR8jHBlX7gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAwSURBVBjTY2BgYPjPgApQ+Ez4JNEVYEgyMDAwMOKSwGUFBmDBYRIjNhMYibECQxEAhgkGDvIbNtoAAAAASUVORK5CYII=) no-repeat center center;
	/*cursor: w-resize;*/
	z-index:76;
}
.collapsible.bottom {
	bottom: 2.5em;
}
.collapsible.top {
	top: 4.5em;
	opacity: 0;
	filter: Alpha(opacity=0);
}
.collapsible.action.collapse-sidebar.collapsed {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUUBSAI6HuEkgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAuSURBVBjTY2BABf/R+UwMmABFETYFKIoYsRjLQIwJDMgm4LKfEZcjUTQyETIVAJtaBwm2r62/AAAAAElFTkSuQmCC) no-repeat center center;
	/* cursor: e-resize; */
	left:-5px;
}
.sidebar-iconsonly .collapsible.action.collapse-sidebar {
	left: 19px;
}
.collapsible.action.collapse-head {
	top: 2.8em;
	z-index: 101;
	background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUVCjU2rU9fdQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAmSURBVBjTY2RgYPjPQAL4j66BEU0SQ44RhyRcESPFbmAipIOgAgAoGAgDd5gyOwAAAABJRU5ErkJggg==) no-repeat center center;
}
.collapsible.right {
	right: 0.5em;
}
.collapsible.left {
	left: 0.5em;
	opacity: 0;
	filter: Alpha(opacity=0);
}
.collapsible.action.collapse-head.collapsed {
	top: -5px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUVCjYes9ekTAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAqSURBVBjTY2BABf+hGA6YGAgAggoY0Y3EpoABjyJGRjQHYtOM3xcE3QAA4AoIA7nIcu4AAAAASUVORK5CYII=) no-repeat center center;
}
.collapsible:hover {
	opacity: 1;
	filter: Alpha(opacity=100);
}

.sidebar-iconsonly #content, .sidebar-iconsonly #controls, .sidebar-iconsonly .ajax-loader {
	left: 24px;
}
.sidebar-collapsed #content, .sidebar-collapsed #controls, .sidebar-collapsed .ajax-loader {
	left: 0;	
}
.sidebar-iconsonly #nav, .sidebar-iconsonly #prefs {
	width: 24px;
}
.sidebar-iconsonly #nav .label {
	display: none;
}
.sidebar-collapsed #nav, .sidebar-collapsed #prefs  {
	width: 0px;
	display: none;
}
#nav.head-collapsed, #controls.head-collapsed, #content.head-collapsed, .ajax-loader.head-collapsed  {
	top: 0;
}
.tableconfig {
	background-color: white;
	left: 0;
	margin: 0;
	padding: 0;
	width: auto;
	z-index: 110;
}
.tableconfig fieldset {
	clear: none;
	float: left;
	margin: 1ex;
}
.tableconfig ul li, .tableconfig ul {
	padding:0;
	margin: 0;
}
.tableconfigactions {
	clear: both;
	text-align: center;
}
.tableconfigbutton {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfdBg4KHwNUL/0wAAAAqElEQVQY02XOOQrCYBSF0e/HDKSwsUjUSsEdCA5ECwXLkEbci+Aq3IU7URC0tAkBxQ1ogoQIzyaD0Vvew308gIEekqgzMyrp47Z2xk1JU/C+euPaPmDXF1aoC0e0UhLzbvmmobYIAXZe19TK7L27qcOIDooTl5zmDdGEFEEQIqblMZ89Ac+MhHFJNRyWPIqVV33cLTYxbpUmxBm9+IlHhCBs+MuQmDX6B9oaOj8nvRhuAAAAAElFTkSuQmCC) no-repeat center center;
	float: right;
	width: 16px;
	height: 16px;
	border: 1px solid #999999;
	opacity: 0.5;
	filter: Alpha(opacity=0.5);
	cursor: pointer;
}
.tableconfigbutton:hover {
	opacity: 1;
	filter:Alpha(opacity=100);
}
.dragaccept { 
	cursor: pointer; 
}
.ui-front {
	z-index: 200;
}
.columnResizeHandle {
	border:0;
	width: 0.5em;
	padding: 0;
	margin: 0;
	position:relative;
}
.columnResizeHandle.right {
	float: right;
	cursor: e-resize;
	right: -0.5em;
}
.columnResizeHandle.left {
	float: left;
	cursor: w-resize;
	left: -0.5em;
}
.dropdown {
	padding: 0;
	margin: 0;
	border: 0;
}
.dropdown-menu {
	display: none;
	z-index: 50;
	position: absolute;
	background: white;
	border: 1px solid #dddddd;
	padding: 0;
	margin: 0;
	box-shadow: 3px 0 7px #dddddd;
}
.accesskeydetails {
	font-family: monospace;
}
#popupmenu {
	position: absolute;
	display: none;
	background: white;
	border: 1px solid #dddddd;
	box-shadow: 3px 0 7px #dddddd;
	text-align: left;
	float: none;
	clear: both;
	z-index: 1;
	margin: 0;
	padding: 0;
}
#popupmenu li {
	height: 1.2em;
	padding: 0.4em;
	min-width: 150px;
	border: 1px solid white;
	color: black;
}
#popupmenu li.sep {
	border-top: 1px solid #999999;
}
#popupmenu li:hover, #popupmenu li:focus {
	border: 1px dotted #999999;
	background-color: #ededed;
}
#popupmenu .action, #popupmenu .listaction {
	padding-left: 22px;
	cursor: pointer;
	background-repeat: no-repeat;
}
#popupmenu .listaction.copy {
	background-image: url(images/sprite.png);
	background-position: left -134px;
}
#popupmenu .listaction.cut {
	background-image: url(images/sprite.png);
	background-position: left -174px;
}
#popupmenu .listaction.paste {
	background-image: url(images/sprite.png);
	background-position: left -374px;
}
#popupmenu .listaction.delete {
	background-position: left -216px;
}
#popupmenu .action.rename {
	background-image: url(images/sprite.png);
	background-position: left -495px;
}
#popupmenu ul {
	display: none;
	position: absolute;
	top: 1px;
	left: 150px;
	background-color: white;
	box-shadow: 3px 0 7px #dddddd;
	padding: 0;
	margin: 0;
	z-index: 2;
}
#popupmenu ul li {
	min-width: 150px;
	width: auto;
	height: auto;
	color: black;
}
#popupmenu li:hover > ul {
	display: block;
}
#popupmenu li > ul:hover {
	display: block;
}
#popupmenu li.subpopupmenu {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAQAAACFbCRbAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAkSURBVAjXTcoxCgAwDAMxOf//czuYQDbBHQ8YyqHMTZAiduUDv+MFBymCv+wAAAAASUVORK5CYII=) no-repeat  right 2px center;
	cursor: pointer;
}
#popupmenu li.subpopupmenu:hover {
	background-color: #f9f9f9;
}
#popupmenu li.subpopupmenu.extension {
	position: relative;
}
#popupmenu li.subpopupmenu.extension ul.subpopupmenu.extension {
	position: absolute;
	left: 135px;
}
#filler {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
