.icon { background-image: url(icons/sprite.png); background-repeat: no-repeat;}
.icon.suffix-aac { background-position: left -22px; }
.icon.suffix-aiff { background-position: left -66px; }
.icon.suffix-ai { background-position: left -110px; }
.icon.suffix-avi { background-position: left -154px; }
.icon.suffix-_blank { background-position: left -198px; }
.icon.suffix-bmp { background-position: left -242px; }
.icon.suffix-c { background-position: left -286px; }
.icon.suffix-cpp { background-position: left -330px; }
.icon.suffix-css { background-position: left -374px; }
.icon.suffix-dat { background-position: left -418px; }
.icon.suffix-dmg { background-position: left -462px; }
.icon.suffix-doc { background-position: left -506px; }
.icon.suffix-docx { background-position: left -550px; }
.icon.suffix-dotx { background-position: left -594px; }
.icon.suffix-dwg { background-position: left -638px; }
.icon.suffix-dxf { background-position: left -682px; }
.icon.suffix-eps { background-position: left -726px; }
.icon.suffix-exe { background-position: left -770px; }
.icon.suffix-flv { background-position: left -814px; }
.icon.suffix-folder { background-position: left -858px; }
.icon.suffix-folderup { background-position: left -902px; }
.icon.suffix-gif { background-position: left -946px; }
.icon.suffix-h { background-position: left -990px; }
.icon.suffix-hpp { background-position: left -1034px; }
.icon.suffix-html { background-position: left -1078px; }
.icon.suffix-ics { background-position: left -1122px; }
.icon.suffix-iso { background-position: left -1166px; }
.icon.suffix-java { background-position: left -1210px; }
.icon.suffix-jpg { background-position: left -1254px; }
.icon.suffix-js { background-position: left -1298px; }
.icon.suffix-key { background-position: left -1342px; }
.icon.suffix-less { background-position: left -1386px; }
.icon.suffix-mid { background-position: left -1430px; }
.icon.suffix-mp3 { background-position: left -1474px; }
.icon.suffix-mp4 { background-position: left -1518px; }
.icon.suffix-mpg { background-position: left -1562px; }
.icon.suffix-odf { background-position: left -1606px; }
.icon.suffix-ods { background-position: left -1650px; }
.icon.suffix-odt { background-position: left -1694px; }
.icon.suffix-otp { background-position: left -1738px; }
.icon.suffix-ots { background-position: left -1782px; }
.icon.suffix-ott { background-position: left -1826px; }
.icon.suffix-_page { background-position: left -1870px; }
.icon.suffix-pdf { background-position: left -1914px; }
.icon.suffix-php { background-position: left -1958px; }
.icon.suffix-png { background-position: left -2002px; }
.icon.suffix-ppt { background-position: left -2046px; }
.icon.suffix-pptx { background-position: left -2090px; }
.icon.suffix-psd { background-position: left -2134px; }
.icon.suffix-py { background-position: left -2178px; }
.icon.suffix-qt { background-position: left -2222px; }
.icon.suffix-rar { background-position: left -2266px; }
.icon.suffix-rb { background-position: left -2310px; }
.icon.suffix-rtf { background-position: left -2354px; }
.icon.suffix-sass { background-position: left -2398px; }
.icon.suffix-scss { background-position: left -2442px; }
.icon.suffix-sprite { background-position: left -2486px; }
.icon.suffix-sql { background-position: left -2530px; }
.icon.suffix-tga { background-position: left -2574px; }
.icon.suffix-tgz { background-position: left -2618px; }
.icon.suffix-tiff { background-position: left -2662px; }
.icon.suffix-txt { background-position: left -2706px; }
.icon.suffix-unknown { background-position: left -2750px; }
.icon { background-position: left -2750px; }
.icon.suffix-wav { background-position: left -2794px; }
.icon.suffix-xls { background-position: left -2838px; }
.icon.suffix-xlsx { background-position: left -2882px; }
.icon.suffix-xml { background-position: left -2926px; }
.icon.suffix-yml { background-position: left -2970px; }
.icon.suffix-zip { background-position: left -3014px; }
