.icon { background-image: url(icons/sprite.png); background-repeat: no-repeat;}
.icon.suffix-1 { background-position: left -22px; }
.icon.suffix-2 { background-position: left -66px; }
.icon.suffix-3gp { background-position: left -110px; }
.icon.suffix-3 { background-position: left -154px; }
.icon.suffix-4 { background-position: left -198px; }
.icon.suffix-5 { background-position: left -242px; }
.icon.suffix-6 { background-position: left -286px; }
.icon.suffix-7 { background-position: left -330px; }
.icon.suffix-7z { background-position: left -374px; }
.icon.suffix-8 { background-position: left -418px; }
.icon.suffix-9 { background-position: left -462px; }
.icon.suffix-aac { background-position: left -506px; }
.icon.suffix-aifc { background-position: left -550px; }
.icon.suffix-aiff { background-position: left -594px; }
.icon.suffix-aif { background-position: left -638px; }
.icon.suffix-ai { background-position: left -682px; }
.icon.suffix-asc { background-position: left -726px; }
.icon.suffix-au { background-position: left -770px; }
.icon.suffix-avi { background-position: left -814px; }
.icon.suffix-bash { background-position: left -858px; }
.icon.suffix-bat { background-position: left -902px; }
.icon.suffix-bmp { background-position: left -946px; }
.icon.suffix-bz2 { background-position: left -990px; }
.icon.suffix-class { background-position: left -1034px; }
.icon.suffix-cmd { background-position: left -1078px; }
.icon.suffix-com { background-position: left -1122px; }
.icon.suffix-conf { background-position: left -1166px; }
.icon.suffix-c { background-position: left -1210px; }
.icon.suffix-cpp { background-position: left -1254px; }
.icon.suffix-csh { background-position: left -1298px; }
.icon.suffix-cshrc { background-position: left -1342px; }
.icon.suffix-css { background-position: left -1386px; }
.icon.suffix-csv { background-position: left -1430px; }
.icon.suffix-db { background-position: left -1474px; }
.icon.suffix-deb { background-position: left -1518px; }
.icon.suffix-diff { background-position: left -1562px; }
.icon.suffix-doc { background-position: left -1606px; }
.icon.suffix-docx { background-position: left -1650px; }
.icon.suffix-dtd { background-position: left -1694px; }
.icon.suffix-dump { background-position: left -1738px; }
.icon.suffix-eml { background-position: left -1782px; }
.icon.suffix-env { background-position: left -1826px; }
.icon.suffix-eps { background-position: left -1870px; }
.icon.suffix-exe { background-position: left -1914px; }
.icon.suffix-flac { background-position: left -1958px; }
.icon.suffix-flv { background-position: left -2002px; }
.icon.suffix-folder { background-position: left -2046px; }
.icon.suffix-folderup { background-position: left -2090px; }
.icon.suffix-gif { background-position: left -2134px; }
.icon.suffix-gz { background-position: left -2178px; }
.icon.suffix-h { background-position: left -2222px; }
.icon.suffix-html { background-position: left -2266px; }
.icon.suffix-htm { background-position: left -2310px; }
.icon.suffix-ics { background-position: left -2354px; }
.icon.suffix-img { background-position: left -2398px; }
.icon.suffix-ind { background-position: left -2442px; }
.icon.suffix-indt { background-position: left -2486px; }
.icon.suffix-info { background-position: left -2530px; }
.icon.suffix-iso { background-position: left -2574px; }
.icon.suffix-jar { background-position: left -2618px; }
.icon.suffix-java { background-position: left -2662px; }
.icon.suffix-jpeg { background-position: left -2706px; }
.icon.suffix-jpg { background-position: left -2750px; }
.icon.suffix-js { background-position: left -2794px; }
.icon.suffix-ksh { background-position: left -2838px; }
.icon.suffix-ldif { background-position: left -2882px; }
.icon.suffix-login { background-position: left -2926px; }
.icon.suffix-log { background-position: left -2970px; }
.icon.suffix-lzma { background-position: left -3014px; }
.icon.suffix-m3u { background-position: left -3058px; }
.icon.suffix-m4a { background-position: left -3102px; }
.icon.suffix-mf { background-position: left -3146px; }
.icon.suffix-midi { background-position: left -3190px; }
.icon.suffix-mid { background-position: left -3234px; }
.icon.suffix-mkv { background-position: left -3278px; }
.icon.suffix-mng { background-position: left -3322px; }
.icon.suffix-mov { background-position: left -3366px; }
.icon.suffix-mp2 { background-position: left -3410px; }
.icon.suffix-mp3 { background-position: left -3454px; }
.icon.suffix-mp4 { background-position: left -3498px; }
.icon.suffix-mpeg { background-position: left -3542px; }
.icon.suffix-mpe { background-position: left -3586px; }
.icon.suffix-mpg { background-position: left -3630px; }
.icon.suffix-mpv { background-position: left -3674px; }
.icon.suffix-mts { background-position: left -3718px; }
.icon.suffix-odp { background-position: left -3762px; }
.icon.suffix-ods { background-position: left -3806px; }
.icon.suffix-odt { background-position: left -3850px; }
.icon.suffix-oga { background-position: left -3894px; }
.icon.suffix-ogg { background-position: left -3938px; }
.icon.suffix-ogv { background-position: left -3982px; }
.icon.suffix-o { background-position: left -4026px; }
.icon.suffix-opus { background-position: left -4070px; }
.icon.suffix-otp { background-position: left -4114px; }
.icon.suffix-ots { background-position: left -4158px; }
.icon.suffix-ott { background-position: left -4202px; }
.icon.suffix-p12 { background-position: left -4246px; }
.icon.suffix-patch { background-position: left -4290px; }
.icon.suffix-pdf { background-position: left -4334px; }
.icon.suffix-php { background-position: left -4378px; }
.icon.suffix-phps { background-position: left -4422px; }
.icon.suffix-pl { background-position: left -4466px; }
.icon.suffix-pm { background-position: left -4510px; }
.icon.suffix-png { background-position: left -4554px; }
.icon.suffix-potm { background-position: left -4598px; }
.icon.suffix-pot { background-position: left -4642px; }
.icon.suffix-pps { background-position: left -4686px; }
.icon.suffix-ppsx { background-position: left -4730px; }
.icon.suffix-ppt { background-position: left -4774px; }
.icon.suffix-pptx { background-position: left -4818px; }
.icon.suffix-prn { background-position: left -4862px; }
.icon.suffix-ps1 { background-position: left -4906px; }
.icon.suffix-psd { background-position: left -4950px; }
.icon.suffix-ps { background-position: left -4994px; }
.icon.suffix-pub { background-position: left -5038px; }
.icon.suffix-py { background-position: left -5082px; }
.icon.suffix-qt { background-position: left -5126px; }
.icon.suffix-rar { background-position: left -5170px; }
.icon.suffix-raw { background-position: left -5214px; }
.icon.suffix-rpm { background-position: left -5258px; }
.icon.suffix-sgml { background-position: left -5302px; }
.icon.suffix-sh { background-position: left -5346px; }
.icon.suffix-snd { background-position: left -5390px; }
.icon.suffix-so { background-position: left -5434px; }
.icon.suffix-spx { background-position: left -5478px; }
.icon.suffix-sql { background-position: left -5522px; }
.icon.suffix-stc { background-position: left -5566px; }
.icon.suffix-sti { background-position: left -5610px; }
.icon.suffix-stw { background-position: left -5654px; }
.icon.suffix-swf { background-position: left -5698px; }
.icon.suffix-sxc { background-position: left -5742px; }
.icon.suffix-sxi { background-position: left -5786px; }
.icon.suffix-sxw { background-position: left -5830px; }
.icon.suffix-tar { background-position: left -5874px; }
.icon.suffix-tcsh { background-position: left -5918px; }
.icon.suffix-tex { background-position: left -5962px; }
.icon.suffix-tgz { background-position: left -6006px; }
.icon.suffix-txt { background-position: left -6050px; }
.icon.suffix-unknown { background-position: left -6094px; }
.icon { background-position: left -6094px; }
.icon.suffix-vcard { background-position: left -6138px; }
.icon.suffix-vcs { background-position: left -6182px; }
.icon.suffix-vmdk { background-position: left -6226px; }
.icon.suffix-wav { background-position: left -6270px; }
.icon.suffix-wma { background-position: left -6314px; }
.icon.suffix-wmv { background-position: left -6358px; }
.icon.suffix-xcf { background-position: left -6402px; }
.icon.suffix-xls { background-position: left -6446px; }
.icon.suffix-xlsx { background-position: left -6490px; }
.icon.suffix-xlt { background-position: left -6534px; }
.icon.suffix-xml { background-position: left -6578px; }
.icon.suffix-xpi { background-position: left -6622px; }
.icon.suffix-xsl { background-position: left -6666px; }
.icon.suffix-xslt { background-position: left -6710px; }
.icon.suffix-zip { background-position: left -6754px; }
