.icon { background-image: url(icons/sprite.png); background-repeat: no-repeat;}
.icon.suffix-3gp { background-position: left -22px; }
.icon.suffix-7z { background-position: left -66px; }
.icon.suffix-aac { background-position: left -110px; }
.icon.suffix-aifc { background-position: left -154px; }
.icon.suffix-aiff { background-position: left -198px; }
.icon.suffix-aif { background-position: left -242px; }
.icon.suffix-asc { background-position: left -286px; }
.icon.suffix-au { background-position: left -330px; }
.icon.suffix-avi { background-position: left -374px; }
.icon.suffix-bmp { background-position: left -418px; }
.icon.suffix-bz2 { background-position: left -462px; }
.icon.suffix-com { background-position: left -506px; }
.icon.suffix-c { background-position: left -550px; }
.icon.suffix-cpp { background-position: left -594px; }
.icon.suffix-css { background-position: left -638px; }
.icon.suffix-db { background-position: left -682px; }
.icon.suffix-doc { background-position: left -726px; }
.icon.suffix-docx { background-position: left -770px; }
.icon.suffix-dtd { background-position: left -814px; }
.icon.suffix-exe { background-position: left -858px; }
.icon.suffix-flac { background-position: left -902px; }
.icon.suffix-flv { background-position: left -946px; }
.icon.suffix-folder { background-position: left -990px; }
.icon.suffix-folderup { background-position: left -1034px; }
.icon.suffix-gif { background-position: left -1078px; }
.icon.suffix-gz { background-position: left -1122px; }
.icon.suffix-h { background-position: left -1166px; }
.icon.suffix-html { background-position: left -1210px; }
.icon.suffix-htm { background-position: left -1254px; }
.icon.suffix-img { background-position: left -1298px; }
.icon.suffix-iso { background-position: left -1342px; }
.icon.suffix-java { background-position: left -1386px; }
.icon.suffix-jpeg { background-position: left -1430px; }
.icon.suffix-jpg { background-position: left -1474px; }
.icon.suffix-js { background-position: left -1518px; }
.icon.suffix-lzma { background-position: left -1562px; }
.icon.suffix-m3u { background-position: left -1606px; }
.icon.suffix-m4a { background-position: left -1650px; }
.icon.suffix-midi { background-position: left -1694px; }
.icon.suffix-mid { background-position: left -1738px; }
.icon.suffix-mkv { background-position: left -1782px; }
.icon.suffix-mng { background-position: left -1826px; }
.icon.suffix-mov { background-position: left -1870px; }
.icon.suffix-mp2 { background-position: left -1914px; }
.icon.suffix-mp3 { background-position: left -1958px; }
.icon.suffix-mp4 { background-position: left -2002px; }
.icon.suffix-mpeg { background-position: left -2046px; }
.icon.suffix-mpe { background-position: left -2090px; }
.icon.suffix-mpg { background-position: left -2134px; }
.icon.suffix-mpv { background-position: left -2178px; }
.icon.suffix-mts { background-position: left -2222px; }
.icon.suffix-odt { background-position: left -2266px; }
.icon.suffix-oga { background-position: left -2310px; }
.icon.suffix-ogg { background-position: left -2354px; }
.icon.suffix-ogv { background-position: left -2398px; }
.icon.suffix-opus { background-position: left -2442px; }
.icon.suffix-pdf { background-position: left -2486px; }
.icon.suffix-php { background-position: left -2530px; }
.icon.suffix-phps { background-position: left -2574px; }
.icon.suffix-pl { background-position: left -2618px; }
.icon.suffix-png { background-position: left -2662px; }
.icon.suffix-ppt { background-position: left -2706px; }
.icon.suffix-pptx { background-position: left -2750px; }
.icon.suffix-py { background-position: left -2794px; }
.icon.suffix-qt { background-position: left -2838px; }
.icon.suffix-raw { background-position: left -2882px; }
.icon.suffix-sgml { background-position: left -2926px; }
.icon.suffix-snd { background-position: left -2970px; }
.icon.suffix-spx { background-position: left -3014px; }
.icon.suffix-tar { background-position: left -3058px; }
.icon.suffix-tex { background-position: left -3102px; }
.icon.suffix-tgz { background-position: left -3146px; }
.icon.suffix-txt { background-position: left -3190px; }
.icon.suffix-unknown { background-position: left -3234px; }
.icon { background-position: left -3234px; }
.icon.suffix-wav { background-position: left -3278px; }
.icon.suffix-wma { background-position: left -3322px; }
.icon.suffix-wmv { background-position: left -3366px; }
.icon.suffix-xls { background-position: left -3410px; }
.icon.suffix-xlsx { background-position: left -3454px; }
.icon.suffix-xml { background-position: left -3498px; }
.icon.suffix-xsl { background-position: left -3542px; }
.icon.suffix-xslt { background-position: left -3586px; }
.icon.suffix-zip { background-position: left -3630px; }
