<div id="highlighter-preset-manager" title="$tl(highlighter.managepresets)">
<div id="highlighter-preset-manager-preset-template" class="hidden">
    <div class="highlighter-preset-entry">
        <div class="highlighter-preset-entry-name"></div>
        <div class="highlighter-preset-entry-delete action deletepreset" title="$tl(highlighter.deletepreset)" data-confirm="$tl(highlighter.confirmdeletepreset)"></div>
    </div>
</div>
<div id="highlighter-preset-manager-entries"></div>
</div>