<div>
<div title="$file">$file $tl(purishared):</div>
<div>
	<a href="$puri" class="blue" target="_blank" title="$puri">Link</a>: <input title="$puri" onclick="this.select();" type="text" value="$puri" class="publicuri" readonly="readonly">
 	<a href="mailto:?subject=&body=$puri" title="$tl(purisendbymail)"><img src="${VHTDOCS}_EXTENSION(PublicUri)_/htdocs/images/mail.png"></img></a>
</div>
</div>