<li><a class="help-button" target="_blank" href="https://DanRohde.github.io/webdavcgi/vbox.html">Help</a></li>
<!--IF("$USER" ne "public")-->
<li><a class="logout-button" href="/logout">Logout</a></li>
<!--ENDIF-->
<li><a class="contact-button" href="mailto:d.rohde@cms.hu-berlin.de?subject=WebDAV%20CGI%20VBox">Contact</a></li>
