 <div title="$file" class="viewerjs content">
 <iframe id="viewer" allowfullscreen webkitallowfullscreen width="600" height="450" src="${VHTDOCS}_EXTENSION(ViewerJS)_/htdocs/contrib/viewerjs-0.5.8/ViewerJS/index.html#$fileuri"></iframe>
 <div class="close button">$tl(close)</div>
 </div>