<!--IF(%SESSION)-->
        <li title="Logout" class="logout-button" data-href="?logout=1"><div class="label">Logout</div></li>
<!--ELSE-->
        <li title="Logout" class="logout-button" data-href="/logout"><div class="label">Logout</div></li>
<!--ENDIF-->
