body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 10px;
}
.screenshot {
	width: 200px;
	float: none;
	vertical-align: middle;
	border: 0px;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	margin-bottom: 5px;
}
.screenshottitle {
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fafafa;
	clear: both;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	border: 1px solid #999999;

}
#content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
        box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	border: 1px solid #999999;
}
#toc {
	border: 1px solid #aaa;
	z-index: 10;
	padding: 5px;
	width: auto;
	clear: both;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}
#toc ul {
	list-style-type: none;
	list-style-image: url(images/bullet-toc.gif);
}

h1,h2,h3,#contact {
	background-color:#dddddd;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	padding-left: 5px;
	border: 1px solid #999999;
}
.flagcounter {
	border: 0px;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	margin-top: 7px;
}
.screenshottable {
	margin-left: auto;
	margin-right: auto;
}
.screenshottable th {
	background-color: #eeeeee;
        box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	border: 1px solid #999999;
}
pre,code {
	border: 1px dotted #999999;
	background-color: #efefff;
	overflow: auto;
}
