<div class="quicktoggles">
<button title="$tl(quicktoggles.dot)" class="quicktoggle dot"></button>
<!--IF($main::ENABLE_THUMBNAIL)--> 
<button title="$tl(quicktoggles.thumbnails)" class="quicktoggle thumbnails"></button>
<!--ENDIF-->
<button title="$tl(quicktoggles.bars)" class="quicktoggle bars"></button>
<button title="$tl(quicktoggles.fullscreen)" class="quicktoggle fullscreen"></button>
</div>