<div class="quicktoggles">
<span class="quicktoggles-spacer" title="$tl(quicktoggles)">&nbsp;</span>
<button title="$tl(quicktoggles.dot)" class="quicktoggle dot" aria-label="$tl(quicktoggles.dot)"></button>
<!--IF($ENABLE_THUMBNAIL)--> 
<button title="$tl(quicktoggles.thumbnails)" class="quicktoggle thumbnails" aria-label="$tl(quicktoggles.thumbnails)"></button>
<!--ENDIF-->
<button title="$tl(quicktoggles.bars)" class="quicktoggle bars" aria-label="$tl(quicktoggles.bars)"></button>
<button title="$tl(quicktoggles.fullscreen)" class="quicktoggle fullscreen" aria-label="$tl(quicktoggles.fullscreen)"></button>
</div>
