<li class="quicktoggles">
	<div class="quicktoggle-content">
		<div title="$tl(quicktoggles)" class="quicktoggle-icon" tabindex="0" role="menu" aria-label="$tl(quicktoggles)"></div>
		<div class="quicktoggle-buttons">
			<div title="$tl(quicktoggles.dot)" class="action quicktoggle dot"
				aria-label="$tl(quicktoggles.dot)" role="button" tabindex="0"></div>
			<!--IF($ENABLE_THUMBNAIL)-->
			<div title="$tl(quicktoggles.thumbnails)"
				class="action quicktoggle thumbnails"
				aria-label="$tl(quicktoggles.thumbnails)" role="button" tabindex="0"></div>
			<!--ENDIF-->
			<div title="$tl(quicktoggles.bars)" class="action quicktoggle bars"
				aria-label="$tl(quicktoggles.bars)" role="button" tabindex="0"></div>
			<div title="$tl(quicktoggles.fullscreen)"
				class="action quicktoggle fullscreen"
				aria-label="$tl(quicktoggles.fullscreen)" role="button" tabindex="0"></div>
		</div>
	</div>
</li>