<li title="$afsmember" data-member="$afsmember">$afsmember <!--IF($extconfig(disallow_afsgroupchanges))--><!--ELSE--><div class="afsmemberdelete remove-icon" title="$tl(afsremoveuser)" aria-label="$tl(afsremoveuser)"></div><!--ENDIF--></li>