<form id="zipfile-up-form" method="post" action="#" enctype="multipart/form-data" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr"><input type="hidden" name="${TOKENNAME}" value="${TOKEN}"><input type="hidden" name="action" value="zipup"/><input name="files" class="file-upload" type="file" multiple="multiple"></form>