<div id="about" title="$tl(about) WebDAV CGI - $RELEASE">
		<div class="nowrap" style="font-weight:bold;">WebDAV CGI - $RELEASE</div>
		<div class="nowrap">&copy; ZE Computer and Media Services, Humboldt-University at Berlin</div>
		<div class="nowrap">Written 2010-2017 by Daniel Rohde &lt;<a href="mailto:d.rohde@cms.hu-berlin.de?subject=WebDAV%20CGI">d.rohde@cms.hu-berlin.de</a>&gt;</div>
		<div>Homepage: <a href="https://DanRohde.github.io/webdavcgi/" target="_blank">https://DanRohde.github.io/webdavcgi/</a></div>

<div style="margin-top:0.8em;font-weight:bold;">Special Thanks to</div>
<div style="height: 15em; overflow: auto;border:1px solid #999999;">
		<div style="font-style:italic;">Contributors</div><div style="font-style:italic">(Translations, Bug Reports, Patches, Extensions):</div>
		<div>Laurent Bardi, Simone Iozia, Thomas Klose, </div>
		<div>Andrius Preimantas, Simon Jalandt, Harald Strack, </div>
		<div> Christian Affolter, Jean-François Brison, Jose Marques,</div>
		<div> Manuel Selling, Florian Freund, David G. Brader,</div>
		<div> Varadi Gabor, Stephen Joyce, Raman Gupta</div>
		<div style="font-style:italic">Testers:</div>
		<div>Michael Sommerfeld, Frank Sittel, Enno Gröper,</div>
		<div> Daniel Stoye, Karsten Asshauer, Thomas Gleissner, Malte Dreyer,</div>
		<div>...</div>
		
</div>
<div style="margin-top:0.8em; font-weight: bold;">Licensing Information</div>
<div style="height: 7em; overflow:auto;border:1px solid #999999; font-size: small;">
		<a href="https://DanRohde.github.io/webdavcgi/" target="_blank">WebDAV CGI</a>,
			<br/><a href="http://ckeditor.com/" target="_blank">CKEditor&trade;</a>, <a href="https://github.com/peplin/gpxviewer" target="_blank">gpxviewer</a>
			<br/><a href="http://gplv3.fsf.org/" target="_blank">GPLv3</a>
			<br/>&nbsp;<br/>
		<a href="http://www.perl.org/" target="_blank">Perl</a> &amp; <a href="http://www.cpan.org/" target="_blank">Modules</a>
			<br/><a href="https://www.gnu.org/licenses/old-licenses/gpl-1.0.txt" target="_blank">GPLv1</a>
			<br/>&nbsp;<br/>
		<a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://jqueryui.com" target="_blank">jQuery-UI</a>,
			<br/><a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">File Upload</a>, <a href="https://github.com/someshwara/MultiDraggable" target="_blank">Multidraggable</a>,
				<a href="http://ned.im/noty/" target="_blank">Noty</a>, <a href="https://github.com/js-cookie/js-cookie" target="_blank">Cookie</a>, 
				<br/>
				<a href="https://github.com/niklasvh/html2canvas/" target="_blank">html2canvas</a>, <a href="http://www.jacklmoore.com/autosize/" target="_blank">Autosize</a>
			<br/><a href="https://jquery.org/license" target="_blank">MIT License</a>
			<br/>&nbsp;<br/>
		<a href="http://fancyapps.com/fancybox/" target="_blank">Fancybox</a>
			<br/><a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">Creative Commons Attribution-NonCommercial 3.0</a> 
			<br/>&nbsp;<br/>
		<a href="http://jstreemap.com/" target="_blank">Treemap</a><br/>
			<a href="http://www.eclipse.org/legal/epl-v10.html" target="_blank">Eclipse Public License v1.0</a>
			<br/>&nbsp;<br/>
		<a href="https://github.com/Automattic/Iris" target="_blank">Iris color picker</a>
			<br/><a href="http://www.gnu.org/licenses/gpl-2.0.txt" target="_blank">GPLv2</a><br/>
			<br/>&nbsp;<br/>
		<a href="https://code.google.com/p/google-code-prettify/" target="_blank">google-code-prettify</a>, <a href="https://github.com/videojs/video.js" target="_blank">videojs</a>
			<br/><a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache Licence 2.0</a>
</div>
<div style="margin-top:0.8em; font-weight: bold;">Statistics</div>
<div style="height: 7em; overflow:auto; border:1px solid #999999;">
	<div style="padding: 2px 0px 2px 0px; width:520px;">$stat_filetypeicons</div>
	<div style="clear: both">File Types (Categories):&nbsp;$stat_filetypes &nbsp;&nbsp;Known Suffixes:&nbsp;$stat_suffixes</div>
	<div title="$stat_extensionlist">Activated Extension(s):&nbsp;$stat_extensions</div>
	<div title="$stat_perlmodulelist">Loaded Perl modules: $stat_loadedperlmodules &nbsp;&nbsp; Perl Version: $stat_perlversionnumber</div>
</div>
</div>
