<tr>
	<td>$entry</td>
	<td class="center"><input type="checkbox" value="l" name="un[$entry]" $checked(l) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="r" name="un[$entry]" $checked(r) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="w" name="un[$entry]" $checked(w) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="i" name="un[$entry]" $checked(i) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="d" name="un[$entry]" $checked(d) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="k" name="un[$entry]" $checked(k) $readonly $disabled/></td>
	<td class="center"><input type="checkbox" value="a" name="un[$entry]" $checked(a) $readonly $disabled/></td>
</tr>
