<ul class="popup">
		<li class="bookmarktemplate">
			<div class="bookmarklabel">$bookmarktext</div>
			<div tabindex="0" class="action rmsinglebookmark" title="$tl(rmbookmark)" aria-label="$tl(rmbookmark)" data-bookmark="$bookmarkpath"></div>
		</li>
		<li class="sep action addbookmark" title="$tl(addbookmarktitle)"><div class="label bookmarklabel">$tl(addbookmark)</div></li>
		<li class="sep action bookmarksortpath"><div class="bookmarksortlabel">$tl(sortbookmarkbypath)</div><div class="path">&uarr;</div><div class="path-desc">&darr;</div></li>
		<li class="action bookmarksorttime"><div class="bookmarksortlabel">$tl(sortbookmarkbytime)</div><div class="time">&uarr;</div><div class="time-desc">&darr;</div></li>
		<li class="sep action rmallbookmarks" title="$tl(rmallbookmarkstitle)">$tl(rmallbookmarks)</li>
</ul>