<tr class="isviewable-$isviewable unselectable-$unselectable iseditable-$iseditable isreadable-$isreadable iswriteable-$iswriteable is-$type islocked-$islocked" data-file="$name" data-size="$realsize" data-uid="$uid" data-gid="$gid" data-mime="$mime" data-type="$type" data-lastmodified="$lastmodifiedtime" data-created="$createdtime" data-displayname="$displayname" data-mode="$modestr" $extension(filelistentrydata)>

<!--TEMPLATE(selector)[<td class="selector -hidden"><input type="checkbox" class="selectbutton" name="file" value="$name" tabindex="-1"/> </td>]-->
$filelistentrycolumns
<td class="option"></td>
<!--TEMPLATE(name)[
<td class="filename -hidden" title="$name$linkinfo <!--IF($config(ALLOW_CHANGEPERM))-->($mode $modestr)<!--ENDIF-->"> 
     <div class="filename">
	     <a href="$fileuri" class="action changeuri" title="$name$linkinfo">
	     	<img src="$iconurl" class="$iconclass" alt="icon" title="$mime"/>
	     	<span class="nametext"><!--IF($cgi->param('ajax') eq 'search')-->$name<!--ELSE-->$displayname<!--ENDIF--></span>
	     </a>
     </div>
</td>
]-->
<!--TEMPLATE(size)[
	<td class="size -hidden" title="$sizetitle"> $size </td>
]-->

<!--TEMPLATE(lastmodified)[
	<td class="lastModified -hidden" title="$tl(lastmodified): $lastmodified"> $lastmodifiedhr</td>
]--> 
<!--TEMPLATE(mime)[
	<td class="mime -hidden">$mime</td>
]-->
<!--TEMPLATE(created)[
	<td class="created -hidden" title="$tl(created): $created">$createdhr</td>
]-->
<!--TEMPLATE(mode)[
	<td class="mode -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$modestr</td>
]-->
<!--TEMPLATE(uid)[
	<td class="uid -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$uid</td>
]-->
<!--TEMPLATE(gid)[
	<td class="gid -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$gid</td>
]-->
</td>
</tr>