<tr class="isviewable-$isviewable unselectable-$unselectable isreadable-$isreadable iswriteable-$iswriteable is-$type islocked-$islocked islink-$islink isdotfile-$isdotfile suffix-$suffix $ext_classes" data-file="$name" data-size="$realsize" data-uid="$uid" data-gid="$gid" data-mime="$mime" data-type="$type" data-lastmodified="$lastmodifiedtime" data-created="$createdtime" data-displayname="$displayname" data-mode="$modestr" style="$ext_styles"$ext_attributes>

<!--TEMPLATE(selector)[<td class="selector -hidden"><input type="checkbox" class="selectbutton" name="file" value="$name" tabindex="-1"/> </td>]-->
$filelistentrycolumns
<td class="option"></td>
<!--TEMPLATE(name)[
<td class="filename -hidden"> 
     <!--IF("$linkinfo" eq "" && ("$name" eq "$displayname" || "$name" eq ".."))-->
       <div class="filename">
     <!--ELSE-->
       <div class="filename" title="$name$linkinfo">
     <!--ENDIF-->
	     <a href="$fileuri" class="action changeuri">
	     	<img src="$iconurl"<!--IF($main::ENABLE_THUMBNAIL)--> data-thumb="$thumbiconurl" data-icon="$mimeiconurl"<!--ENDIF--> class="$iconclass $ext_iconclasses" alt="icon"<!--IF("$type" ne "dir")--> title="$mime"<!--ENDIF-->/>
	     	<span class="nametext">$qdisplayname</span>
	     </a>
     </div>
</td>
]-->
<!--TEMPLATE(size)[
	<td class="size -hidden" title="$sizetitle"> $size </td>
]-->

<!--TEMPLATE(lastmodified)[
	<td class="lastModified -hidden" title="$tl(lastmodified): $lastmodified"> $lastmodifiedhr</td>
]--> 
<!--TEMPLATE(mime)[
	<td class="mime -hidden">$mime</td>
]-->
<!--TEMPLATE(created)[
	<td class="created -hidden" title="$tl(created): $created">$createdhr</td>
]-->
<!--TEMPLATE(mode)[
	<td class="mode -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$modestr</td>
]-->
<!--TEMPLATE(uid)[
	<td class="uid -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$uid</td>
]-->
<!--TEMPLATE(gid)[
	<td class="gid -hidden" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$gid</td>
]-->
$extension(column)
</td>
</tr>