<tr data-unselectable="$unselectable" data-file="$name" data-size="$realsize" data-mime="$mime" data-isreadable="$isreadable" data-iswriteable="$iswriteable" data-iseditable="$iseditable" data-type="$type" data-isviewable="$isviewable" data-lastmodified="$lastmodifiedtime" data-created="$createdtime" data-displayname="$displayname" data-mode="$modestr">
$filelistentrycolumns
<!--TEMPLATE(name)[
<td class="filename" title="$name$linkinfo <!--IF($config(ALLOW_CHANGEPERM))-->($mode $modestr)<!--ENDIF-->"> 
     <div class="filename">
     <input type="checkbox" name="file" value="$name"/> 
	     <a href="$fileuri" data-action="changeuri">
	     	<img src="$iconurl" class="$iconclass"/>
	     	<span class="nametext">$displayname</span>
	     </a>
     </div>
</td>
]-->
<!--TEMPLATE(size)[
	<td class="size" title="$sizetitle"> $size </td>
]-->

<!--TEMPLATE(lastmodified)[
	<td class="lastModified" title="$tl(lastmodified): $lastmodified"> $lastmodifiedhr</td>
]--> 
<!--TEMPLATE(mime)[
	<td class="mime">$mime</td>
]-->
<!--TEMPLATE(created)[
	<td class="created" title="$tl(created): $created">$createdhr</td>
]-->
<!--TEMPLATE(mode)[
	<td class="mode" title="mode: $mode, uid: $uid ($uidNumber), gid: $gid ($gidNumber)">$modestr</td>
]-->
</td>
</tr>