
	<form id="filelistform" method="post" action="#">
	<input id="filelistaction" type="hidden" name="__set__" value=""/>
	
	
	<table id="fileListTable">
		<thead>
		<!--IF($config(SHOW_QUOTA))-->
		<tr><td class="sorter-false" colspan="3">
		<div id="quota">
			<div class="quotabar" title="$tl(quotaavailable) $quotaavailable (${quotaavailableperc}%) / $quotalimit"><div title="$tl(quotaused) $quotaused (${quotausedperc}%) / $quotalimit" class="$quotalevel quotaused" style="$quotastyle; width: ${quotausedperc}%;">${quotausedperc}%</div></div>
			$tl(quotalimit) <span title="$quotalimittitle">$quotalimit</span>, 
			$tl(quotaused) <span title="$quotausedtitle">$quotaused (${quotausedperc}%)</span>, 
			$tl(quotaavailable) <span title="$quotaavailabletitle">$quotaavailable (${quotaavailableperc}%)</span>
			
		</div>
		</td></tr>
		<!--ENDIF-->
		
		<!--IF($isviewfiltered())--><tr><td colspan="3" class="sorter-false"><div class="viewfilterinfo">$tl(filter) $filterInfo() </div></td></tr><!--ENDIF-->
		<tr>
			<th id="headerName" data-name="name" data-sort="data-file" data-title="$tl(statfiles) $filecount, $tl(statfolders) $dircount, $tl(statsum) $sum">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dE
AACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" class="toggleselection" alt="OX" title="$tl(togglealltooltip)"/>
				$tl(name)
			</th>
			<th id="headerSize" data-name="size" data-sort="data-size" data-sorttype="number" data-title="$foldersize">$tl(size)</th>
			<th id="headerDate" data-name="lastmodified" data-sort="data-lastmodified" data-sorttype="number">$tl(lastmodified)</th>
		</tr>
		
		</thead>
		<tbody id="fileList" data-uri="$uri" data-thumbnail_pdfps="$config(ENABLE_THUMBNAIL_PDFPS)">
		$filelist(filelistentry)
		</tbody>
	</table>
	</form>


