<ul id="foldertreepopupmenu" class="popup">
<li class="action foldertree-open-folder"><div class="label">$tl(foldertree.open-folder)</div></li>
<li class="action foldertree-open-current"><div class="label">$tl(foldertree.open-current)</div></li>
<li class="action foldertree-expand-all"><div class="label">$tl(foldertree.expand-all)</div></li>
<li class="action foldertree-collapse-all"><div class="label">$tl(foldertree.collapse-all)</div></li>
<li class="action foldertree-refresh-current"><div class="label">$tl(foldertree.refresh-current)</div></li>
<li class="action foldertree-read-all sep"><div class="label">$tl(foldertree.read-all)</div></li>
<li class="action copy sep"><div class="label">$tl(copy)</div></li>
<li class="action cut"><div class="label">$tl(cut)</div></li>
<li class="action foldertree-new-folder sep"><div class="label">$tl(foldertree.create-folder)</div></li>
<li class="action foldertree-rename-folder"><div class="label">$tl(foldertree.rename-folder)</div></li>
<li class="action delete sep"><div class="label">$tl(deletefilesbutton)</div></li>
</ul>