<ul id="foldertreetoolbar">
    <li class="action foldertree-open-current uibutton" tabindex="0" title="$tl(foldertree.open-current)" aria-label="$tl(foldertree.open-current)"></li>
    <li class="action foldertree-expand-all uibutton" tabindex="0" title="$tl(foldertree.expand-all)" aria-label="$tl(foldertree.expand-all)"></li>
    <li class="action foldertree-collapse-all uibutton" tabindex="0" title="$tl(foldertree.collapse-all)" aria-label="$tl(foldertree.collapse-all)"></li>
    <li class="action foldertree-refresh-current uibutton" tabindex="0" title="$tl(foldertree.refresh-current)" aria-label="$tl(foldertree.refresh-current)"></li>
    <li class="action foldertree-read-all spacer-top uibutton" tabindex="0" title="$tl(foldertree.read-all)" aria-label="$tl(foldertree.read-all)"></li>
</ul>