<ul id="foldertreepopupmenu" class="popup">
<li class="action foldertree-expand-all"><div class="label">$tl(foldertree.expand-all)</div></li>
<li class="action foldertree-collapse-all"><div class="label">$tl(foldertree.collapse-all)</div></li>
<li class="action foldertree-refresh-current"><div class="label">$tl(foldertree.refresh-current)</div></li>
<li class="action foldertree-read-all sep"><div class="label">$tl(foldertree.read-all)</div></li>
</ul>