<!DOCTYPE html>
<html lang="$LANG">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>$tl(login.title)</title>
<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #eee;
}
#bgcontainer {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
    
    background: linear-gradient(135deg, white, #999);
    background-size: 400% 400%;
    animation: bganimation 15s ease infinite;
}

@keyframes bganimation {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
.login-form {
	margin: 4em;
	border: 1px outset #ddd;
	background: linear-gradient(to bottom right, white, #aaa);
	text-align: center;
	padding: 2em;
	width: 30em;
}
.login-title {
	font-size: 150%;
	padding-bottom: 0.5em;
	text-shadow: 1px 1px 2px black;
}
.login-submit, .login-language {
	padding-top: 1em;
}
input,select {
	width: 10em;
    text-align: center;
}
label {
	display: block;
	padding-top: 1ex;
	font-size: 80%;
	text-shadow: 1px 1px 1px #aaa;
}
.logon-failure, .logon-error {
	color: red;
}
.error-text {
	font-family: monospace;
	font-size: small;
}
.logon-session {
	color: #aa3800;
}
.logout-success {
	font-weight: bold;
}
.filler {
	min-height: 100%;
}
</style>
</head>
<body>
<div id="bgcontainer"></div>
	<div class="login-form">
		<form method="POST">
			<div class="login-title">$tl(login.title)</div>
			<!--IF("$cgiparam(logon)" eq q{failure})-->
			<div class="logon-failure">$tl(login.failure)</div>
			<!--ENDIF-->
			<!--IF("$cgiparam(logon)" eq q{session})-->
			<div class="logon-session">$tl(login.session)</div>
			<!--ENDIF-->
			<!--IF("$cgiparam(error)" ne q{})-->
			<div class="logon-error">$tl(login.error) <div class="error-text">$cgiparam(error)</div></div>
			<!--ENDIF-->
			<!--IF("$cgiparam(logout)" ne q{})-->
			<div class="logout-success">$tl(login.logoutsuccess)</div>
			<!--ENDIF-->
			<div class="login-login">
				<label>
				$tl(login.login)
				</label>
				<input type="text" name="login" value="$cgiparam(login)" required autocomplete="username" autofocus>
				
			</div>
			<div class="login-password">
				<label>
				$tl(login.password)
				</label>
				<input type="password" name="password" required autocomplete="off">
				
			</div>
			<!--IF(scalar keys %{$SESSION{domains}} > 1)-->
			<div class="login-domain">
				<label>
				$tl(login.domain) 
				</label>
				<select name="domain">
				$each|%SESSION{domains}|'<option>$k</option>'|
				</select>
				
			</div>
			<!--ELSE-->
			<input type="hidden" name="domain" value="$each|%SESSION{domains}|'$k'|">
			<!--ENDIF-->
			<div class="login-submit">
				<input type="submit" value="$tl(login.submit)">
			</div>
			<div class="login-language">
				<select name="lang">
					<option value="$LANG">$TRANS_LANG</option>
					$each|%SUPPORTED_LANGUAGES|'<option value="$k">$v</option>'|
				</select>
			</div>
			<input type="hidden" name="${TOKENNAME}" value="${TOKEN}">
		</form>
	</div>


</body>
</html>
