<div style="
    position: absolute;
    top: 4px;
    left: 1%;
    transform: scale(0.5); 
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 1px 1px 2px #aaa;
    line-height: 2em;
    height: 2.2em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #aaa;
    white-space: nowrap;
    background: #eee;
    background: linear-gradient(to bottom right, white, #eee);
">
WebDAV CGI
</div>