<ul id="apps">
	<li class="action refresh" title="$tl(files.title)" aria-label="$tl(files.title)" tabindex="0">
	<div class="label">$tl(files.title)</div>
	</li>
	<li class="applicationsmenu popup" tabindex="0">
		<div class="label ai-applications">$tl(applications)</div>
		<ul class="popup">
			<li class="popup sep select" title="$tl(select)" tabindex="0">
				<div class="popup label select">$tl(select)</div>
				<ul class="popup">
					<li class="action toggleselection" title="$tl(togglealltooltip)" tabindex="0">$tl(togglealltooltip)</li>
					<li class="action selectall" title="$tl(selectall)" tabindex="0">$tl(selectall)</li>
					<li class="action selectnone" title="$tl(selectnone)" tabindex="0">$tl(selectnone)</li>
				</ul>
			</li>
			<li class="bookmarkmenu popup" tabindex="0">
				<div class="label bookmark-label ai-bookmarks">$tl(bookmarks)</div>
				$INCLUDE(bookmarks)
			</li>
			<li class="autorefreshmenu popup" tabindex="0">
				<div class="label autorefresh-label ai-refresh" title="$tl(autorefresh.select.title)">$tl(autorefresh.select)</div>
				$INCLUDE(autorefresh)
			</li>
			$extension(appsmenu)
		</ul>
	</li>
	$INCLUDE(apps)
	$extension(apps)
</ul>
$INCLUDE(nav)
<ul id="prefs">
	$INCLUDE(pref)
	<!--IF($#SUPPORTED_VIEWS>0)-->
		<li title="$tl(viewoptions)">
			<div class="accordion">
				<h3>$tl(viewoptions)</h3> 
				<div>
					<ul>
						$each#@SUPPORTED_VIEWS#'<li title="$tl(${v}view)" class="action view $v" data-href="?view=$v" title="$v" aria-label="$v" tabindex="0">$tl(${v}view)</li>'#'^$view$'#
						<li title="$tl(filter.title)" class="action viewfilter" data-template="viewfilter" accesskey="o" aria-label="$tl(filter.title)" tabindex="0">
							<span class="label">$tl(filter.title)</span>
						</li>
					</ul>
				</div>
			</div>
		</li>
	<!--ELSE-->
		<li title="$tl(filter.title)" class="action viewfilter" data-template="viewfilter" accesskey="o" aria-label="$tl(filter.title)" tabindex="0"><span class="label">$tl(filter.title)</span></li>
	<!--ENDIF-->
	<li title="$tl(settings)" class="dialog action settings" data-action="settings" aria-label="$tl(settings)" tabindex="0"><span class="label">$tl(settings)</span></li>
	$extension(pref)
	$INCLUDE(help)
	$INCLUDE(manual)
	<li title="$tl(about)" class="dialog action about" data-action="about" accesskey="6" aria-label="$tl(about)" tabindex="0"><span class="label">$tl(about)</span></li>
</ul>