<!DOCTYPE html>
<html>
<head>
<title>$config(TITLEPREFIX) $uri</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="application-name" content="WebDAV CGI"/>
<meta name="author" content="(C) ZE CMS, Humboldt-Universitaet zu Berlin, Written by Daniel Rohde"/>
<link rel="alternate" href="?action=mediarss" type="application/rss+xml" title="" id="gallery"/>
$extension(link)
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/contrib/contrib.min.css"/>
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/style.min.css"/>
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/suffix.min.css"/>
<!--IF("$config(CSS)" ne "")--><style>$config(CSS)</style> <!--ENDIF-->
<!--IF("$config(CSSURI)" ne "")--><link rel="stylesheet" type="text/css" href="$config(CSSURI)"/><!--ENDIF-->
$extension(css)
<script src="${VHTDOCS}views/simple/contrib/contrib.min.js"></script>
<script src="${VHTDOCS}views/simple/script.min.js"></script>
$extension(javascript)	
$config(HTMLHEAD)
$INCLUDE(htmlhead)</head>
<body class="collapse-sidebar-listener">
<div id="filler"></div>
<div id="main">
	<div class="langswitch collapse-head-collapsible">$config(LANGSWITCH)</div> 
	<div id="top" class="collapse-head-collapsible">
		$INCLUDE(header)
		$config(HEADER)
	</div>
	<div id="nav" class="collapse-head-listener collapse-sidebar-collapsible">
		<ul id="apps">
			<li title="$tl(files)"><a href="$uri" class="action refresh" title="$tl(files.title)" data-action="refresh"><span class="label">$tl(files)</span></a></li>
			$INCLUDE(apps)
			$extension(apps)
		</ul>
		$INCLUDE(nav)
		<ul id="prefs">
			$INCLUDE(pref)
			<!--IF($#main::SUPPORTED_VIEWS>0)-->
			<li title="$tl(viewoptions)"><div class="accordion">
					<h3>$tl(viewoptions)</h3> 
					<div>
						<ul>$each#@main::SUPPORTED_VIEWS#'<li title="$tl(${v}view)"><a class="view $v" href="?view=$v" title="$v">$tl(${v}view)</a></li>'#'$view'#
							<li title="$tl(filter.title)"><a href="#" class="action viewfilter" data-action="viewfilter" data-template="viewfilter" accesskey="o"><span class="label">$tl(filter.title)</span></a></li>
						</ul>
					</div>
				</div>
			</li>
			<!--ENDIF-->
			<!--IF($#main::SUPPORTED_VIEWS<1)-->
				<li title="$tl(filter.title)"><a href="#" class="action viewfilter" data-action="viewfilter" data-template="viewfilter" accesskey="o"><span class="label">$tl(filter.title)</span></a></li>
			<!--ENDIF-->
			<li title="$tl(settings)"><a href="#" data-action="settings" class="dialog action settings"><span class="label">$tl(settings)</span></a></li>
			$extension(pref)
			$INCLUDE(help)
			<li title="$tl(about)"><a href="#" data-action="about" class="dialog action about" accesskey="8"><span class="label">$tl(about)</span></a></li>
		</ul>
	</div>
<div id="content" class="collapse-head-listener collapse-sidebar-listener">
	<div id="controls" class="collapse-head-listener collapse-sidebar-listener">
		<div id="new">
			<a href="#" class="action new" data-action="new" accesskey="n">$tl(new)</a> 
			<!--IF($config(ALLOW_POST_UPLOADS))-->
				<a href="#" class="action upload uibutton access-writeable hideit" id="fileuploadbutton" title="$tl(upload) (&le; $maxuploadsizehr)" accesskey="u">$tl(fileuploadbutton)</a><form id="file-upload-form" enctype="multipart/form-data" method="post" action="#" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr"><input type="hidden" name="filesubmit" value="yes"/><input class="file-upload" type="file" name="file_upload" multiple="multiple"/></form>
			<!--ENDIF-->
			<!--IF($config(ENABLE_CLIPBOARD))-->			
				<a class="listaction paste hideit sel-none uibutton" href="#" data-action="paste" title="$tl(paste)" accesskey="v">&nbsp;</a>
			<!--ENDIF-->			
			<ul class="new popup hidden">
			<li><a href="#" class="action create-folder access-writeable" data-action="create-folder" accesskey="r">$tl(createfolderbutton)</a></li>
			<li><a href="#" class="action create-file access-writeable" data-action="create-file" accesskey="e">$tl(createnewfilebutton)</a></li>
			<!--IF($config(ALLOW_SYMLINK))-->
				<li><a href="#" class="action create-symlink sel-one access-writeable" data-action="create-symlink"  title="$tl(createsymlinkdescr)" accesskey="h">$tl(createsymlinkbutton)</a></li>
			<!--ENDIF-->
			$extension(new)
			</ul>
		</div>
		<div id="path" class="sel-none hideit">
			<span id="quicknav" class="ws">$[quicknavpath]</span>
			<form id="pathinputform" action="#" method="post"><span id="pathinput" class="hidden"><input type="text" size="50" name="uri" value="$uri"/><a href="#" data-action="chdir">$tl(go)</a></span></form>
			<a href="#" class="action changedir" data-action="changedir" title="$tl(changedir)">&nbsp;</a>
			<!--IF($config(ENABLE_BOOKMARKS))-->
				<div id="bookmarks">
					<a href="#" class="action addbookmark" data-action="addbookmark" title="$tl(addbookmarktitle)">&nbsp;</a>
					<div id="bookmarksmenu">
					<a href="#" class="action bookmarkmenu" data-action="bookmarkmenu" title="$tl(bookmarks)">&nbsp;</a>
					<ul id="bookmarksmenulist" class="hidden">
						<li id="bookmarktemplate" class="hidden">$bookmarktext<img class="action rmsinglebookmark right neverdisabled" alt="$tl(rmbookmark)" title="$tl(rmbookmark)" data-action="rmsinglebookmark" data-bookmark="$bookmarkpath" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII="/></li>
						<li class="sep link action bookmarksortpath" data-action="bookmarksortpath">$tl(sortbookmarkbypath)<span class="path right">&uarr;</span><span class="path-desc right">&darr;</span></li>
						<li class="link action bookmarksorttime" data-action="bookmarksorttime">$tl(sortbookmarkbytime)<span class="time right">&uarr;</span><span class="time-desc right">&darr;</span></li>
						<li class="sep link action rmallbookmarks" data-action="rmallbookmarks" title="$tl(rmallbookmarkstitle)">$tl(rmallbookmarks)</li>
					</ul>
					</div>
				</div>
			<!--ENDIF-->
			<!--IF(%main::AUTOREFRESH)-->
				<div id="autorefresh" title="$tl(autorefresh.select.title)">
					<a href="#" class="action autorefreshmenu" data-action="autorefreshmenu">&nbsp;</a>
					<ul id="autorefreshmenulist" class="hidden">
						<li class="action setautorefresh" data-value="now">$tl(autorefresh.now)</li>
						$each@%main::AUTOREFRESH@'<li class="action setautorefresh" data-value="$k">$v</li>'@
						<li class="sep autorefreshrunning action autorefreshtoggle">$tl(autorefresh.toggle)</li>
						<li class="autorefreshrunning action autorefreshclear">$tl(autorefresh.clear)</li>
						<li class="sep autorefreshtimer" data-template="$tl(autorefresh.format)"></li> 
					</ul>
				</div>
			<!--ENDIF-->
		</div>
		<div id="filelistactions" class="sel-multi hideit">
			<span id="selstats">$tl(statfiles) $filecount, $tl(statfolders) $dircount $tl(statsum) $sum</span>
			<!--IF($config(ENABLE_CLIPBOARD))-->			
				<a class="listaction copy sel-multi uibutton" href="#" title="$tl(copytooltip)" data-action="copy" accesskey="c">&nbsp;</a>
				<a class="listaction cut sel-multi access-writeable hideit uibutton" href="#" title="$tl(cuttooltip)" data-action="cut" accesskey="x">&nbsp;</a>
			<!--ENDIF-->		
			$extension(filelistaction)	
			<a class="listaction delete sel-multi access-writeable hideit uibutton" href="#" title="$tl(deletefilestext)" data-action="delete" >$tl(deletefilesbutton)</a>
		</div>
		<!--IF($config(ENABLE_NAMEFILTER))-->
		<div class="filterbox">
			$extension(filterbox)
			<form id="filterbox" method="post" action="#">
			$tl(namefilter) <input type="text" name="query" size="10" title="$tl(namefiltertooltip)" accesskey="i"/>
			<img class="action clearfilter" data-action="clearfilter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="-" title="$tl(filter.reset)"/>
			</form>
		</div>
		<!--ENDIF-->
	</div>
	<div id="notification"></div>
	<div class="ajax-loader collapse-head-listener collapse-sidebar-listener"></div>
	<div id="flt" data-template="filelisttable" data-uri="$uri" data-baseuri="$baseuri"></div>
	<div id="statusbar">
		<div class="files-stats"><div class="file-icon filecount" title="$tl(statfiles)"></div> <div class="folder-icon dircount" title="$tl(statfolders) "></div> <div class="sum-icon sum" title="$tl(statsum)"></div> <div class="size-icon foldersize" title="$tl(size)"></div></div>
		<div class="selected-files-stats"><input type="checkbox" checked class="unselectable" name="dummy"> <div class="file-icon selfilecount" title="$tl(statfiles)">0</div> <div class="folder-icon seldircount" title="$tl(statfolders)">0</div> <div class="sum-icon selsum" title="$tl(statsum)">0</div> <div class="size-icon selfoldersize" title="0">0</div></div> 
		<div class="notify" title=""></div>
		$extension(statusbar)
	</div>
	$config(FOOTER)
</div>
</div>
<!-- TEMPLATES -->
<div class="template">
	<div id="confirmdialog" data-title="$tl(confirm)"></div>
	<div id="fileactions">
		<a class="action rename access-writeable" href="#" data-action="rename" accesskey="m" title="$tl(movefilesbutton)"><span class="label">$tl(movefilesbutton)</span></a>
		$extension(fileaction)
		<a class="action delete" href="#" data-action="delete" accesskey="d" title="$tl(deletefilesbutton)"><span class="label">$tl(deletefilesbutton)</span></a>
	</div>
	<div id="renamefield">
		<div class="renamefield"> <input type="text" size="50" name="newfilename" value="$filename"/> </div>
	</div>
	<div id="deletefileconfirm">$tl(deletefileconfirm)</div>
	<div id="deletefilesconfirm">$tl(deletefilesconfirm)</div>
	<div id="movefileconfirm">$tl(movefileconfirm)</div>
	<div id="fileuploadconfirm">$tl(fileuploadconfirm)</div>
	<div id="fancybox"></div>
	<div id="paste">$tl(paste)</div>
	<div id="pastecopyconfirm">$tl(pastecopyconfirm)</div>
	<div id="pastecutconfirm">$tl(pastecutconfirm)</div>
	<div id="close">$tl(close)</div>
	<div id="cancel">$tl(cancel)</div>
	<div id="abortdialogtemplate"><div>$tl(pleasewait)</div><div class="action cancel">$tl(cancel)</div></div>
	<div id="confirm">$tl(confirm)</div>
	<div id="tableconfigdialogtemplate">$INCLUDE(tableconfig)</div>
	<div id="titleprefix">$config(TITLEPREFIX)</div>
	$INCLUDE(about)
	<div id="confirmdialogsetting">$tl(confirmdialog.setting)</div>
	<div id="uploadaborted">$tl(upload.aborted)</div>
	$INCLUDE(popupmenu)
	$INCLUDE(settings)
	$extension(templates)
</div>
<!--IF(%main::AUTOREFRESH)-->
	<div id="autorefreshtimer">
		<span class="autorefreshtimer" title="$tl(autorefresh.select.title)" data-template="$tl(autorefresh.format)"></span> 
		<a href="#" class="autorefreshrunning action autorefreshtoggle" data-action="autorefreshtoggle" title="$tl(autorefresh.toggle)">&nbsp;</a>
		<a href="#" class="autorefreshrunning action autorefreshclear" data-action="autorefreshclear" title="$tl(autorefresh.clear)">&nbsp;</a>
	</div>
<!--ENDIF-->
<!--IF($config(ALLOW_POST_UPLOADS))-->
	<div id="progress" data-title="$tl(upload)"><div class="bar"></div><div class="info"></div></div>
<!--ENDIF-->
<img class="collapsible left action collapse-head" data-action="collapse-head" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="$tl(togglehead)" title="$tl(togglehead)"/>
<img class="collapsible right action collapse-head" data-action="collapse-head" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="$tl(togglehead)" title="$tl(togglehead)"/>
<img class="collapsible top action collapse-sidebar" data-action="collapse-sidebar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="$tl(togglesidebar)" title="$tl(togglesidebar)"/>
<img class="collapsible bottom action collapse-sidebar" data-action="collapse-sidebar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="$tl(togglesidebar)" title="$tl(togglesidebar)"/>
$extension(body)
</body>
</html>