<!DOCTYPE html>
<html lang="$LANG">
<head>
<title>$config(TITLEPREFIX) $uri</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="application-name" content="WebDAV CGI"/>
<meta name="author" content="(C) ZE CMS, Humboldt-Universitaet zu Berlin, Written by Daniel Rohde"/>
<link rel="alternate" href="?action=mediarss" type="application/rss+xml" title="Media RSS - $uri" id="gallery"/>
$extension(link)
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/contrib/contrib.min.css"/>
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/style.min.css"/>
<link rel="stylesheet" type="text/css" href="${VHTDOCS}views/simple/suffix.min.css"/>
<!--IF("$config(CSS)" ne "")--><style>$config(CSS)</style> <!--ENDIF-->
<!--IF("$config(CSSURI)" ne "")--><link rel="stylesheet" type="text/css" href="$config(CSSURI)"/><!--ENDIF-->
$extension(css)
<script src="${VHTDOCS}views/simple/contrib/contrib.min.js"></script>
<script src="${VHTDOCS}views/simple/script.min.js"></script>
$extension(javascript)	
$config(HTMLHEAD)
$INCLUDE(htmlhead)</head>
<body class="collapse-sidebar-listener">
<div id="filler"></div>
<div id="main">
	<div class="langswitch collapse-head-collapsible">$config(LANGSWITCH)</div> 
	<div id="top" class="collapse-head-collapsible" role="banner">
		$INCLUDE(header)
		$config(HEADER)
	</div>
	<div id="nav" class="collapse-head-listener collapse-sidebar-collapsible" role="navigation">
		$INCLUDE(navigation)
	</div>
	<div id="content" class="collapse-head-listener collapse-sidebar-listener">
		<div id="controls" class="collapse-head-listener collapse-sidebar-listener">
			$INCLUDE(toolbar)
		</div>
		<div id="notification"></div>
		<div class="ajax-loader collapse-head-listener collapse-sidebar-listener"></div>
		<div id="flt" data-template="filelisttable" data-uri="$uri" data-baseuri="$baseuri" role="main"></div>
		$INCLUDE(statusbar)
		$config(FOOTER)
	</div>
</div>
<!-- TEMPLATES -->
<div class="template">
	<img id="emptyimage" src="${VHTDOCS}views/simple/icons/blank.png">
	<div id="confirmdialog" data-title="$tl(confirm)"></div>
	<div id="fileactions">
		<ul class="dropdown">
			<li class="dropdown-click fileactions-dropdown" title="$tl(fileactions)" tabindex="0">
				<ul id="fileactions-dropdown-menu" class="dropdown-menu">
					<li class="dropdown-menu-item action rename access-writeable" href="#" tabindex="0" accesskey="m" title="$tl(movefilesbutton)"><span class="label">$tl(movefilesbutton)</span></li>
					$extension(fileaction)
					<li class="dropdown-menu-item action delete sep" href="#" tabindex="0" accesskey="d" title="$tl(deletefilesbutton)"><span class="label">$tl(deletefilesbutton)</span></li>
				</ul>
			</li> 
		</ul>
	</div>
	<div id="renamefield">
		<div class="renamefield"> <input type="text" size="50" name="newfilename" value="$filename"/> </div>
	</div>
	<div id="deletefileconfirm">$tl(deletefileconfirm)</div>
	<div id="deletefilesconfirm">$tl(deletefilesconfirm)</div>
	<div id="movefileconfirm">$tl(movefileconfirm)</div>
	<div id="fileuploadconfirm">$tl(fileuploadconfirm)</div>
	<div id="fancybox"></div>
	<div id="paste">$tl(paste)</div>
	<div id="pastecopyconfirm">$tl(pastecopyconfirm)</div>
	<div id="pastecutconfirm">$tl(pastecutconfirm)</div>
	<div id="close">$tl(close)</div>
	<div id="cancel">$tl(cancel)</div>
	<div id="abortdialogtemplate"><div>$tl(pleasewait)</div><div class="action cancel">$tl(cancel)</div></div>
	<div id="confirm">$tl(confirm)</div>
	<div id="tableconfigdialogtemplate">$INCLUDE(tableconfig)</div>
	<div id="titleprefix">$config(TITLEPREFIX)</div>
	$INCLUDE(about)
	<div id="confirmdialogsetting">$tl(confirmdialog.setting)</div>
	<div id="uploadaborted">$tl(upload.aborted)</div>
	$INCLUDE(popupmenu)
	$INCLUDE(settings)
	$extension(templates)
</div>
<!--IF(%AUTOREFRESH)-->
	<div id="autorefreshtimer">
		<div class="flex-row">
			<div class="autorefreshtimer" title="$tl(autorefresh.select.title)" data-template="$tl(autorefresh.format)"></div> 
			<div class="autorefreshrunning action autorefreshtoggle" title="$tl(autorefresh.toggle)" tabindex="0"></div>
			<div class="autorefreshrunning action autorefreshclear" title="$tl(autorefresh.clear)" tabindex="0"></div>
		</div>
	</div>
<!--ENDIF-->
<!--IF($config(ALLOW_POST_UPLOADS))-->
	<div id="progress" data-title="$tl(upload)"><div class="bar"></div><div class="info"></div></div>
<!--ENDIF-->
<!-- <div class="collapsible left action collapse-head" title="$tl(togglehead)"></div>  -->
<div class="collapsible right action collapse-head" title="$tl(togglehead)" tabindex="0"></div>
<!-- <div class="collapsible top action collapse-sidebar" title="$tl(togglesidebar)"></div>  -->
<div class="collapsible bottom action collapse-sidebar" title="$tl(togglesidebar)" tabindex="0"></div>
<div accesskey="0" id="accesskeydetailseventcatcher" title="$tl(accesskeydetails)" tabindex="-1"></div>
<div accesskey="l" id="gotofilelisteventcatcher" title="$tl(gotofilelist)" tabindex="-1"></div>
<div accesskey="g" id="gotoappsmenueventcatcher" title="$tl(gotoappsmenu)" tabindex="-1"></div>
<div accesskey="t" id="gototoolbareventcatcher"  title="$tl(gototoolbar)" tabindex="-1"></div> 
$extension(body)
</body>
</html>