<!DOCTYPE html>
<html>
<head>
<title>$config(TITLEPREFIX) $uri</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="alternate" href="$uri?action=mediarss" type="application/rss+xml" title="" id="gallery"/>
<link rel="stylesheet" type="text/css" href="${baseuri}_webdavcgi_/views/simple/contrib/contrib.min.css"/>
<link rel="stylesheet" type="text/css" href="${baseuri}_webdavcgi_/views/simple/style.min.css"/>
<!--IF("$config(CSS)" ne "")--><style>$config(CSS)</style> <!--ENDIF-->
<!--IF("$config(CSSURI)" ne "")--><link rel="stylesheet" type="text/css" href="$config(CSSURI)"/><!--ENDIF-->
<script src="${baseuri}_webdavcgi_/views/simple/contrib/contrib.min.js"></script>
<script src="${baseuri}_webdavcgi_/views/simple/script.min.js"></script>
$config(HTMLHEAD)
$INCLUDE(htmlhead)</head>
<body>
<div id="main">
	<div class="langswitch">$config(LANGSWITCH)</div> 
	<div id="top">
		$INCLUDE(header)
		$config(HEADER)
	</div>
	<div id="nav">
		<ul id="apps">
			<li><a href="$uri" title="$tl(files.title)" data-action="refresh">$tl(files)</a></li>
			$INCLUDE(apps)
			<!--IF($config(ALLOW_SEARCH))-->
			<li><a href="#" data-action="search" data-dialogtemplate="searchdialog" data-resulttemplate="searchresult">$tl(searchbutton)</a></li>
			<!--ENDIF-->
			<!--IF($config(ALLOW_CHANGEPERM))-->
				<li><a href="#" data-action="permissions" data-sel="multi" data-template="permissions">$tl(mode)</a></li>
			<!--ENDIF-->
			<!--IF($config(ENABLE_AFSACLMANAGER))-->
				<li><a href="#" data-sel="noneorone" data-seltype="dir" data-action="afsaclmanager" data-template="afsaclmanager">$tl(afs)</a></li>
			<!--ENDIF-->
			<!--IF($config(ENABLE_AFSGROUPMANAGER))-->
				<li><a href="#" data-action="afsgroupmanager" data-template="afsgroupmanager">$tl(afsgroup)</a></li>
			<!--ENDIF-->
				
		</ul>
		$INCLUDE(nav)
		<ul id="prefs">
			$INCLUDE(pref)
			<!--IF($#main::SUPPORTED_VIEWS>0)-->
			<li><div class="accordion">
					<h3>$tl(viewoptions)</h3> 
					<div>
						<ul>$viewList(viewentry)
							<li><a href="#" data-action="viewfilter" data-template="viewfilter">$tl(filter.title)</a></li>
						</ul>
					</div>
				</div>
			</li>
			<!--ENDIF-->
			<!--IF($#main::SUPPORTED_VIEWS<1)-->
				<li><a href="#" data-action="viewfilter" data-template="viewfilter">$tl(filter.title)</a></li>
			<!--ENDIF-->
			<li><a href="#" data-action="settings" class="dialog">$tl(settings)</a></li>
			$INCLUDE(help)
			<li><a href="#" data-action="about" class="dialog">$tl(about)</a></li>
		</ul>
	</div>
<div id="content">
	<div id="controls">
		<div id="new">
			<a href="#" data-action="new">$tl(new)</a> 
			<!--IF($config(ALLOW_POST_UPLOADS))-->
				<a href="#" id="fileuploadbutton" title="&le;$maxuploadsizehr">$tl(fileuploadbutton)</a><form id="file-upload-form" enctype="multipart/form-data" method="post" action="#" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr"><input type="hidden" name="filesubmit" value="yes"/><input class="file-upload" type="file" name="file_upload" multiple="multiple" title="$tl(upload) (max. $maxuploadsizehr)"/></form>
			<!--ENDIF-->
			<!--IF($config(ENABLE_CLIPBOARD))-->			
				<a class="listaction paste" href="#" data-action="paste" title="$tl(paste)">&nbsp;</a>
			<!--ENDIF-->			
			<div id="progress" data-title="$tl(upload)"><div class="bar"></div><div class="info"></div></div>
			<ul class="hidden">
			<li><a href="#" data-action="create-folder">$tl(createfolderbutton)</a></li>
			<li><a href="#" data-action="create-file">$tl(createnewfilebutton)</a></li>
			<!--IF($config(ALLOW_SYMLINK))-->
				<li><a href="#" data-action="create-symlink" data-sel="one" title="$tl(createsymlinkdescr)">$tl(createsymlinkbutton)</a></li>
			<!--ENDIF-->
			<!--IF($config(ALLOW_ZIP_UPLOAD))-->
				<li class="sep"><a href="#" title="&le;$maxuploadsizehr" data-action="uncompress" id="zipfileuploadbutton">$tl(zipfileupload)</a><form id="zipfile-upload-form" method="post" action="#" enctype="multipart/form-data" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr"><input type="hidden" name="uncompress" value="yes"/><input name="zipfile_upload" class="file-upload" type="file" multiple="multiple"/> </form></li>
			<!--ENDIF-->
			</ul>
		
		</div>
		<div id="path">
			<span id="quicknav">$[quicknavpath]</span>
			<form id="pathinputform" action="#" method="post"><span id="pathinput" class="hidden"><input type="text" size="50" name="uri" value="$uri"/><a href="#" data-action="chdir">$tl(go)</a></span></form>
			<a href="#" data-action="changedir" title="$tl(changedir)">&nbsp;</a> 
			<!--IF($config(ENABLE_BOOKMARKS))-->
				<div id="bookmarks">
					<a href="#" data-action="addbookmark" title="$tl(addbookmarktitle)">&nbsp;</a>
					<div id="bookmarksmenu">
					<a href="#" data-action="bookmarkmenu" title="$tl(bookmarks)">&nbsp;</a>
					<ul class="hidden">
						<li id="bookmarktemplate" class="hidden">$bookmarktext<img class="right neverdisabled" alt="$tl(rmbookmarktitle)" data-action="rmsinglebookmark" data-bookmark="$bookmarkpath" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII="/></li>
						<li class="sep link" data-action="bookmarksortpath">$tl(sortbookmarkbypath)<span class="path right">&uarr;</span><span class="path-desc right">&darr;</span></li>
						<li class="link" data-action="bookmarksorttime">$tl(sortbookmarkbytime)<span class="time right">&uarr;</span><span class="time-desc right">&darr;</span></li>
						<li class="sep link" data-action="rmallbookmarks" title="$tl(rmallbookmarkstitle)">$tl(rmallbookmarks)</li>
					</ul>
					</div>
				</div>
			<!--ENDIF-->
		</div>
		
		<div id="filelistactions">
			<span id="selstats">$tl(statfiles) $filecount, $tl(statfolders) $dircount $tl(statsum) $sum</span>
			<!--IF($config(ENABLE_CLIPBOARD))-->			
				<a class="listaction copy" href="#" title="$tl(copytooltip)" data-action="copy" data-sel="multi">&nbsp;</a>
				<a class="listaction cut" href="#" title="$tl(cuttooltip)" data-action="cut" data-sel="multi">&nbsp;</a>
			<!--ENDIF-->
			<!--IF($config(ALLOW_ZIP_DOWNLOAD))-->
				<a class="listaction download" href="#" title="$tl(zipdownloadtext)" data-action="download" data-sel="multi">$tl(zipdownloadbutton)</a>
			<!--ENDIF-->			
			<a class="listaction delete" href="#" title="$tl(deletefilestext)" data-action="delete" data-sel="multi">$tl(deletefilesbutton)</a>
		</div>
		<!--IF($config(ENABLE_NAMEFILTER))-->
		<div class="filterbox">
			<form id="filterbox" method="post" action="#">
			$tl(namefilter) <input type="text" name="query" size="10" title="$tl(namefiltertooltip)"/>
			<img data-action="clearfilter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dE
AACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="-" title="$tl(filter.reset)"/>
			</form>
		</div>
		<!--ENDIF-->
		
	</div>
	<div id="notification"></div>
	<div class="ajax-loader"></div>
	<div id="flt" data-template="filelisttable" data-uri="$uri"></div>
	$config(FOOTER)
</div>
</div>
<!-- TEMPLATES -->
<div class="template">
	<div id="confirmdialog" data-title="$tl(confirm)"></div>
	<div id="fileactions">
	     <span class="fileactions">
		 <a class="action edit" href="#" data-action="edit">$tl(editbutton)</a>
		 <a class="action rename" href="#" data-action="rename">$tl(movefilesbutton)</a>
		 <!--IF($config(ALLOW_ZIP_DOWNLOAD))-->
		 <a class="action download" href="#" data-action="download">$tl(zipdownloadbutton)</a>
		 <!--ENDIF-->
		 <a class="action delete" href="#" data-action="delete">$tl(deletefilesbutton)</a>
	     </span>
	</div>
	<form id="fileform" method="post" action="#">
		<input id="fileaction" type="hidden" name="__set__" value=""/>
		<input id="filename" type="hidden" name="file" value=""/>
	</form>
	<div id="renamefield">
		<div class="renamefield"> <input type="text" size="50" name="newfilename" value="$filename"/> </div>
	</div>
	<div id="deletefileconfirm">$tl(deletefileconfirm)</div>
	<div id="deletefilesconfirm">$tl(deletefilesconfirm)</div>
	<div id="movefileconfirm">$tl(movefileconfirm)</div>
	<div id="fileuploadconfirm">$tl(fileuploadconfirm)</div>
	<div id="edittextdata"><form id="edittextdataform" method="post" action="#"><textarea name="textdata" rows="15" cols="70"></textarea><div><a href="#" data-action="cancel-edit">$tl(cancel)</a><a href="#" data-action="savetextdata">$tl(savebutton)</a></div></form></div>
	<div id="confirmsavetextdata">$tl(confirmsavetextdata)</div>
	<div id="canceledit">$tl(canceledit)</div>
	<div id="fancybox"></div>
	<div id="paste">$tl(paste)</div>
	<div id="pastecopyconfirm">$tl(pastecopyconfirm)</div>
	<div id="pastecutconfirm">$tl(pastecutconfirm)</div>
	<div id="close">$tl(close)</div>
	<div id="cancel">$tl(cancel)</div>
	<div id="confirm">$tl(confirm)</div>
	<div id="zipuploadconfirm">$tl(zipuploadconfirm)</div>
	<div id="about">
		<span class="nowrap">&copy; 2013 ZE Computer and Media Services, Humboldt-University at Berlin</span><br/>
		<span class="nowrap">Written 2010-2013 by Daniel Rohde &lt;<a href="mailto:d.rohde@cms.hu-berlin.de">d.rohde@cms.hu-berlin.de</a>&gt;</span><br/>
		Homepage: <a href="http://webdavcgi.sf.net/">webdavcgi.sf.net</a>
		<hr/>
		Licensing Information <br/>
		<a href="http://webdavcgi.sf.net">WebDAV CGI</a><br/>
		<a href="http://gplv3.fsf.org/">GPLv3</a> <br/> &nbsp;<br/>
		jQuery, jQuery-UI <br/>
		Plugins: File Upload, Multidraggable,  Noty, Cookie <br/>
		<a href="https://jquery.org/license">MIT License</a><br/>&nbsp;<br/>
		Fancybox<br/>
		<a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0</a>
	</div>
	<div id="confirmdialogsetting">$tl(confirmdialog.setting)</div>
	$INCLUDE(settings)
</div>
</body>
</html>
