<ul id="popupmenu" style="opacity: 1; filter: Alpha(opacity=100);">
<li class="subpopupmenu" title="$tl(new)">$tl(new)
<ul>
<li class="action create-folder access-writeable" title="$tl(createfolderbutton)">$tl(createfolderbutton)</li>
<li class="action create-file access-writeable" title="$tl(createnewfilebutton)">$tl(createnewfilebutton)</li>
<!--IF($config(ALLOW_SYMLINK))-->
	<li class="action create-symlink sel-one access-writeable" title="$tl(createsymlinkdescr)">$tl(createsymlinkbutton)</li>
<!--ENDIF--> 
$extension(fileactionpopupnew)
</ul>
</li>
<!--IF($config(ALLOW_POST_UPLOADS))-->
	<li class="action upload access-writeable" title="$tl(upload) (&le; $maxuploadsizehr)">$tl(fileuploadbutton)</li>
<!--ENDIF-->
<li class="listaction copy sel-multi sep" title="$tl(copytooltip)">$tl(copy)</li>
<li class="listaction cut sel-multi access-writeable" title="$tl(cuttooltip)">$tl(cut)</li>
<li class="listaction paste sel-none access-writeable" title="$tl(paste)">$tl(paste)</li>
<li class="action rename sep" title="$tl(movefilesbutton)">$tl(movefilesbutton)</li>
$extension(fileactionpopup)
<li class="listaction delete access-writeable sep" title="$tl(deletefilestext)">$tl(deletefilesbutton)</li>
</ul>
