<ul id="popupmenu" style="opacity: 1; filter: Alpha(opacity=100);">
<li class="subpopupmenu" title="$tl(new)">$tl(new)
<ul>
<li class="action create-folder access-writeable" title="$tl(createfolderbutton)">$tl(createfolderbutton)</li>
<li class="action create-file access-writeable" title="$tl(createnewfilebutton)">$tl(createnewfilebutton)</li>
<!--IF($config(ALLOW_SYMLINK))-->
	<li class="action create-symlink sel-one access-writeable" title="$tl(createsymlinkdescr)">$tl(createsymlinkbutton)</li>
<!--ENDIF--> 
$extension(fileactionpopupnew)
</ul>
</li>
<!--IF($config(ALLOW_POST_UPLOADS))-->
	<li class="action upload access-writeable hideit" title="$tl(upload) (&le; $maxuploadsizehr)">$tl(fileuploadbutton)</li>
<!--ENDIF-->
<li class="listaction copy sel-multi sep" title="$tl(copytooltip)">$tl(copy)</li>
<li class="listaction cut sel-multi access-writeable" title="$tl(cuttooltip)">$tl(cut)</li>
<li class="listaction paste sel-none access-writeable" title="$tl(paste)">$tl(paste)</li>

<li class="action edit access-writeable access-readable sep" title="$tl(editbutton)">$tl(editbutton)</li>
<li class="action rename sep" title="$tl(movefilesbutton)">$tl(movefilesbutton)</li>
$extension(fileactionpopup)
<!--IF($config(ALLOW_CHANGEPERM))-->
	<li class="action permissions sel-multi sep" data-template="permissions" title="$tl(mode)">$tl(mode)</li>
<!--ENDIF-->
<!--IF($config(ENABLE_AFSACLMANAGER))-->
	<li class="action afsaclmanager sel-noneorone sel-dir sep" data-template="afsaclmanager" title="$tl(afs)">$tl(afs)</li>
<!--ENDIF-->

<li class="listaction delete access-writeable hideit sep" title="$tl(deletefilestext)">$tl(deletefilesbutton)</li>
</ul>
