<div id="searchresult">
<form id="filelistform" method="post" action="#">
<input id="filelistaction" type="hidden" name="__set__" value=""/>
<table id="fileListTable">
<thead>
	<tr><th colspan="3" class="sorter-false">$tl(searchbutton): $filterInfo() </div></th></tr>
	<tr>
		<th id="headerName" data-name="name" data-sort="data-file" data-title="$tl(statfiles) $filecount, $tl(statfolders) $dircount, $tl(statsum) $sum">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dE
AACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" class="toggleselection" alt="OX" title="$tl(togglealltooltip)"/>
			$tl(name)
		</th>
		<th id="headerSize" data-name="size" data-sort="data-size" data-sorttype="number" data-title="$foldersize">$tl(size)</th>
		<th id="headerDate" data-name="lastmodified" data-sort="data-lastmodified" data-sorttype="number">$tl(lastmodified)</th>
	</tr>
		
</thead>
<tbody id="fileList" data-uri="$uri">
$searchResultList(filelistentry)
</tbody>
</table>
</form>
</div>