<div id="settings" title="$tl(settings)">
<form id="settingsform">

<table class="settingstable">
<tr> 
<td class="tabsels">
	<div class="tabsel" data-group="settings_view" tabindex="0" aria-label="$tl(settings) $tl(settings.view)">$tl(settings.view)</div>
	<div class="tabsel" data-group="settings_dialogs" tabindex="0" aria-label="$tl(settings) $tl(settings.dialogs)">$tl(settings.dialogs)</div>
	<div class="tabsel" data-group="settings_extensions" tabindex="0" aria-label="$tl(settings) $tl(settings.extensions)">$tl(settings.extensions)</div>
	$extension(settings_tabsels)
</td>
<td class="tabs">
<table class="tab showtab settings_view">
<tr><td colspan="2" class="tabhead">$tl(settings.view)</td></tr>
$each#(show.fileactions,show.fileactionlabels,show.dotfiles,show.dotfolders,show.statusbar)#'<tr><td><label for="settings.$v">$tl(settings.$v)</label></td><td><input type="checkbox" id="settings.$v" name="settings.$v"/></td></tr>'#
<tr><td><label for="settings.filelistable.view">$tl(settings.filelisttable.view)</label></td>
<td><select name="settings.filelisttable.view" id="settings.filelisttable.view">
$each#(thumbs,list,details)#'<option value="flt-view-$v">$tl(filelisttable.view.$v)</option>'#
</select></td></tr>
<!--IF($ENABLE_THUMBNAIL)-->
<tr><td><label for="settings.enable.thumbnails">$tl(settings.enable.thumbnails)</label></td><td><input type="checkbox" id="settings.enable.thumbnails" name="settings.enable.thumbnails"/></td></tr>
<!--ENDIF-->
<!--IF(scalar @SUPPORTED_VIEWS > 1)-->
<tr><td><label for="settings.view">$tl(settings.view)</label></td>
<td>
	<select name="settings.view" id="settings.view">
		<option value="$view" title="$view" aria-label="$tl(settings.view) $viewname">$viewname</option>
		$each#@SUPPORTED_VIEWS#'<option value="$v" title="$v" aria-label="$tl(settings.view) $tl(${v}view)">$tl(${v}view)</option>'#'^$view$'#
	</select>
</td>
</tr>
<!--ENDIF-->
<!--IF(scalar(keys %SUPPORTED_LANGUAGES) > 0)-->
<tr><td><label for="settings.language">$tl(settings.language)</label></td>
<td>
	<select name="settings.lang" id="settings.language">
		$langList('<option value="$lang">$langname</option>')
	</select>
</td>
</tr>
<!--ENDIF-->
$extensions(settings_view)
</table>
<table class="tab settings_dialogs">
<tr><td colspan="2" class="tabhead">$tl(settings.dialogs)</td></tr>
$each#(messages.warning,confirm.upload,confirm.dnd,confirm.paste,confirm.rename)#'<tr><td><label for="settings.$v">$tl(settings.$v)</label></td><td><input type="checkbox" name="settings.$v" id="settings.$v"/></td></tr>'#
$extensions(settings_dialogs)
</table>
$extensions(settings_tabs)
<table class="tab settings_extensions">
<tr><td colspan="2" class="tabhead">$tl(settings.extensions)</td></tr>
$extension(settings_extensions)
$extension(settings)
</table>

</table>
</form>
</div>
