<div id="settings">
<form id="settingsform">
<table>
<tr><td>$tl(settings.confirm.upload)</td><td><input type="checkbox" name="settings.confirm.upload"/></td></tr>
<tr><td>$tl(settings.confirm.dnd)</td><td><input type="checkbox" name="settings.confirm.dnd"/></td></tr>
<tr><td>$tl(settings.confirm.paste)</td><td><input type="checkbox" name="settings.confirm.paste"/></td></tr>
<tr><td>$tl(settings.confirm.save)</td><td><input type="checkbox" name="settings.confirm.save"/></td></tr>
<tr><td>$tl(settings.confirm.rename)</td><td><input type="checkbox" name="settings.confirm.rename"/></td></tr>
<!--IF($#main::SUPPORTED_VIEWS>0)-->
<tr><td>$tl(settings.view)</td>
<td>
	<select name="settings.view">
		<option value="$view">$viewname</option>
		$viewList('<option value="$view">$viewname</option>')
	</select>
</td>
</tr>
<!--ENDIF-->
<!--IF(scalar(keys %main::SUPPORTED_LANGUAGES) > 0)-->
<tr><td>$tl(settings.language)</td>
<td>
	<select name="settings.lang">
		$langList('<option value="$lang">$langname</option>')
	</select>
</td>
</tr>
<!--ENDIF-->
</table>
</form>
</div>