<div id="settings">
<form id="settingsform">
<table>
$each#(confirm.upload,confirm.dnd,confirm.paste,confirm.save,confirm.rename,messages.warning)#'<tr><td>$tl(settings.$v)</td><td><input type="checkbox" name="settings.$v"/></td></tr>'#
<!--IF($#main::SUPPORTED_VIEWS>0)-->
<tr><td>$tl(settings.view)</td>
<td>
	<select name="settings.view">
		<option value="$view" title="$view">$viewname</option>
		$each#@main::SUPPORTED_VIEWS#'<option value="$v" title="$v">$tl(${v}view)</option>'#'$view'#
	</select>
</td>
</tr>
<!--ENDIF-->
<!--IF(scalar(keys %main::SUPPORTED_LANGUAGES) > 0)-->
<tr><td>$tl(settings.language)</td>
<td>
	<select name="settings.lang">
		$langList('<option value="$lang">$langname</option>')
	</select>
</td>
</tr>
<!--ENDIF-->
</table>
</form>
</div>