<ul id="statusbar">
	$extension(statusbarleft)
	<li class="files-stats">
		<div class="files-stats-content">
			<div class="file-icon filestats-filecount" title="$tl(statfiles)">0</div>
			<div class="folder-icon filestats-dircount" title="$tl(statfolders)">0</div>
			<div class="sum-icon filestats-sum" title="$tl(statsum)">0</div>
			<div class="size-icon filestats-foldersize" title="$tl(size)">0</div>
		</div>
	</li>
	<li class="selected-files-stats sel-multi hideit">
		<div class="selected-files-stats-content sel-multi hideit hidden notab">
			&#128505;
			<div class="file-icon filestats-selfilecount" title="$tl(statfiles)">0</div>
			<div class="folder-icon filestats-seldircount" title="$tl(statfolders)">0</div>
			<div class="sum-icon filestats-selsum" title="$tl(statsum)">0</div>
			<div class="size-icon filestats-selfoldersize" title="$tl(size)">0</div>
		</div></li>
	<li class="notify" title=""></li> $extension(statusbar)
	</li>
</ul>