<div class="tableconfigdialog" title="$tl(tableconfig.button.title)">
<form id="tableconfigform" method="post" action="#">
<fieldset>
<legend>$tl(tableconfig.tablecolumns)</legend>
<ul>
	$each#@ALLOWED_TABLE_COLUMNS#'<li><label><input type="checkbox" name="visiblecolumn" value="$v" id="tableconfig.column.$v"/>$tl($v)</label></li>'#
</ul>
</fieldset>
<fieldset>
<legend>$tl(tableconfig.sortingcolumns)</legend>
<ul>
	$each#@ALLOWED_TABLE_COLUMNS#'<li><label><input type="radio" name="sortingcolumn" value="$v" id="tableconfig.sort.$v"/>$tl($v)</label></li>'#
</ul>
</fieldset>
<fieldset>
<legend>$tl(tableconfig.sortingorder)</legend>
<ul>
	<li><label><input type="radio" value="asc" name="sortingorder" id="tableconfig.ascending"/>$tl(tableconfig.ascending)</label></li>
	<li><label><input type="radio" value="desc" name="sortingorder" id="tableconfig.descending"/>$tl(tableconfig.descending)</label> </li>
</ul>
</fieldset>
<div class="tableconfigactions">
	<div class="uibutton tableconfig-cancel theme-default-button" aria-label="$tl(cancel) $tl(tableconfig.button.title)"><div class="cancel-icon">$tl(cancel)</div></div>
	<div class="uibutton tableconfig-save theme-default-button" aria-label="$tl(savevutton) $tl(tableconfig.button.title)"><div class="save-icon">$tl(savebutton)</div></div>
</div>
</form>
</div>