<ul class="toolbar" data-help="$help(toolbar)">
<li><nav id="quicknav" role="navigation">$[quicknavpath]</nav>
	<!--IF($config(ALLOW_PATHINPUT))-->
	<form id="pathinputform" action="#" method="post"><span id="pathinput" class="hidden"><input type="text" size="50" name="uri" value="$uri"/><button>$tl(go)</button></span></form>
	<!--ENDIF-->
</li>
<!--IF($config(ALLOW_PATHINPUT))-->
<li class="action changedir sel-none hideit uibutton" title="$tl(changedir)" aria-label="$tl(changedir)"></li>
<!--ENDIF-->
<li class="uibutton newmenu sprite popup toolbar-button" id="new" accesskey="n" title="$tl(new)" aria-label="$tl(new)" tabindex="0">
	&nbsp;
	<ul class="popup">
		<li class="action create-folder access-writeable" accesskey="r" aria-label="$tl(createfolderbutton)"><div class="label">$tl(createfolderbutton)</div><div class="accesskey">r</div></li>
		<li class="action create-file access-writeable" accesskey="e" aria-label="$tl(createnewfilebutton)"><div class="label">$tl(createnewfilebutton)</div><div class="accesskey">e</div></li>
		<!--IF($config(ALLOW_SYMLINK))-->
		<li class="action create-symlink sel-one access-writeable" title="$tl(createsymlinkdescr)" accesskey="h"><div class="label">$tl(createsymlinkbutton)</div><div class="accesskey">h</div></li>
		<!--ENDIF-->
		<!--IF($config(ALLOW_POST_UPLOADS))-->
		<li class="sep action upload access-writeable" title="$tl(upload) (&le; $maxuploadsizehr)" aria-label="$tl(upload) (&le; $maxuploadsizehr)" accesskey="u"><div class="label">$tl(upload)</div><div class="accesskey">u</div></li>
		<!--IF#2($config(ALLOW_FOLDERUPLOAD))-->
		<li class="action uploaddir access-writeable" title="$tl(uploaddir) (&le; $maxuploadsizehr)" aria-label="$tl(uploaddir) (&le; $maxuploadsizehr)" accesskey="y"><div class="label">$tl(uploaddir)</div><div class="accesskey">y</div></li>
		<!--ENDIF#2-->
		<!--ENDIF-->
		$extension(new)
	</ul>
</li>
<!--IF($config(ALLOW_POST_UPLOADS))-->
<!--  <li class="action upload access-writeable uibutton toolbar-button" title="$tl(upload) (&le; $maxuploadsizehr)" aria-label="$tl(upload) (&le; $maxuploadsizehr)"></li> -->
<li class="uploadmenu popup sprite uibutton access-writeable toolbar-button" title="$tl(upload) (&le; $maxuploadsizehr)">
	&nbsp;
	<ul class="popup">
	<li class="sep action upload access-writeable" title="$tl(upload) (&le; $maxuploadsizehr)" aria-label="$tl(upload) (&le; $maxuploadsizehr)"><div class="label">$tl(upload)</div><div class="accesskey">u</div></li>
	<!--IF#2($config(ALLOW_FOLDERUPLOAD))-->
	<li class="action uploaddir access-writeable" title="$tl(uploaddir) (&le; $maxuploadsizehr)" aria-label="$tl(uploaddir) (&le; $maxuploadsizehr)"><div class="label">$tl(uploaddir)</div><div class="accesskey">y</div></li>
	<!--ENDIF#2-->
	$extension(upload)
	</ul>
</li>
<!--ENDIF-->
<!--IF($config(ENABLE_CLIPBOARD))-->			
<li class="action paste hideit uibutton" title="$tl(paste)" aria-label="$tl(paste)" accesskey="v"></li>
<!--ENDIF-->
<!--IF($config(ENABLE_BOOKMARKS))-->
<li class="toolbar-spacer action addbookmark sel-none hideit uibutton" title="$tl(addbookmarktitle)" aria-label="$tl(addbookmarktitle)"></li>
<li class="bookmarkmenu ai-bookmarks sel-none hideit uibutton popup toolbar-button" id="bookmarks" title="$tl(bookmarks)" aria-label="$tl(bookmarks)" accesskey="b">
	&nbsp;
	$INCLUDE(bookmarks)
</li>
<!--ENDIF-->
<!--IF(%AUTOREFRESH)-->
<li title="$tl(autorefresh.select.title)" class="toolbar-spacer autorefreshmenu sprite sel-none hideit uibutton popup toolbar-button" aria-label="$tl(autorefresh.select.title)" accesskey="a">
	&nbsp;
	$INCLUDE(autorefresh)
<!--ENDIF-->
<!--IF($config(ENABLE_CLIPBOARD))-->			
<li class="action copy sel-multi hideit hidden uibutton toolbar-spacer"  title="$tl(copytooltip)" aria-label="$tl(copytooltip)" accesskey="c"></li>
<li class="action cut sel-multi hideit access-writeable hidden uibutton" title="$tl(cuttooltip)" aria-label="$tl(cuttooltip)" accesskey="x"></li>
<!--ENDIF-->		
<li class="toolbar-spaceronly sel-multi hideit notab"></li>
$extension(filelistaction)	
<li class="action delete sel-multi hideit hidden access-writeable toolbar-spacer uibutton" title="$tl(deletefilesbutton) $tl(deletefilestext)" aria-label="$tl(deletefilesbutton) $tl(deletefilestext)" tabindex="0"></li>
<li class="sel-multi hideit selstats hidden notab" id="selstats" title="">
	&#128505;
	<div class="file-icon" title="$tl(statfiles) $filecount">$filecount</div> 
	<div class="folder-icon" title="$tl(statfolders) $dircount">$dircount</div> 
	<div class="sum-icon" title="$tl(statsum) $sum">$sum</div>
	<div class="size-icon" title="$tl(statsize) $folderselsizes">$folderselsize</div>
</li>
<li class="action toggle-foldertree toolbar-spacer uibutton" title="$tl(foldertree.toggle)"></li>
<li class="action flt-view-change flt-view-thumbs uibutton" data-view="flt-view-thumbs" title="$tl(filelisttable.view.thumbs)"></li>
<li class="action flt-view-change flt-view-list uibutton" data-view="flt-view-list" title="$tl(filelisttable.view.list)"></li>
<li class="action flt-view-change flt-view-details flt-view-default uibutton" data-view="flt-view-details" title="$tl(filelisttable.view.details)"></li>
<!--IF($config(ENABLE_NAMEFILTER))-->
<li class="filterbox">
	<ul class="filterbox">
	$extension(filterbox)
	<li>
	<form id="filterbox" method="post" action="#">
		$tl(namefilter) <input type="text" name="query" size="10" title="$tl(namefiltertooltip)" aria-label="$tl(namefiltertooltip)" accesskey="i"/>
		<div class="contexthelp" tabindex="0" data-htmltooltip="$inchelp(filterbox)"></div>
		<img class="action clearfilter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="-" title="$tl(filter.reset)" aria-label="$tl(filter.reset)"/>
		
	</form>
	</li>
	</ul>
</li>
<!--ENDIF-->
</ul>
<form id="file-upload-form" enctype="multipart/form-data" method="post" action="#" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr">
	<input type="hidden" name="filesubmit" value="yes">
	<input id="file-upload-form-relapath" type="hidden" name="relapath" value="">
	<input class="file-upload" type="file" name="file_upload" multiple>
	<input id="file-upload-form-token" type="hidden" name="${TOKENNAME}" value="${TOKEN}">
</form>