<ul class="toolbar">
<li class="uibutton" id="new" accesskey="n" title="$tl(new)" aria-label="$tl(new)" tabindex="0">$tl(new)
	<ul>
		<li class="action create-folder access-writeable" accesskey="r">$tl(createfolderbutton)</li>
		<li class="action create-file access-writeable" accesskey="e">$tl(createnewfilebutton)</li>
		<!--IF($config(ALLOW_SYMLINK))-->
		<li class="action create-symlink sel-one access-writeable" title="$tl(createsymlinkdescr)" accesskey="h">$tl(createsymlinkbutton)</li>
		<!--ENDIF-->
		<!--IF($config(ALLOW_POST_UPLOADS))-->
		<li class="sep action upload access-writeable" title="$tl(upload) (&le; $maxuploadsizehr)" aria-label="$tl(upload) (&le; $maxuploadsizehr)">$tl(upload)</li>
		<!--IF#2($config(ALLOW_FOLDERUPLOAD))-->
		<li class="action uploaddir access-writeable" title="$tl(uploaddir) (&le; $maxuploadsizehr)" aria-label="$tl(uploaddir) (&le; $maxuploadsizehr)">$tl(uploaddir)</li>
		<!--ENDIF#2-->
		<!--ENDIF-->
		$extension(new)
	</ul>
</li>
<!--IF($config(ALLOW_POST_UPLOADS))-->
<li class="action upload access-writeable uibutton" title="$tl(upload) (&le; $maxuploadsizehr)" aria-label="$tl(upload) (&le; $maxuploadsizehr)" accesskey="u">$tl(fileuploadbutton)</li>
<!--ENDIF-->
<!--IF($config(ENABLE_CLIPBOARD))-->			
<li class="action paste uibutton" title="$tl(paste)" aria-label="$tl(paste)" accesskey="v"></li>
<!--ENDIF-->
<li class="sel-none hideit"><div id="quicknav">$[quicknavpath]</div>
	<!--IF($config(ALLOW_PATHINPUT))-->
	<form id="pathinputform" action="#" method="post"><span id="pathinput" class="hidden"><input type="text" size="50" name="uri" value="$uri"/><button>$tl(go)</button></span></form>
	<!--ENDIF-->
</li>
<!--IF($config(ALLOW_PATHINPUT))-->
<li class="action changedir sel-none hideit uibutton" title="$tl(changedir)" aria-label="$tl(changedir)"></li>
<!--ENDIF-->
<!--IF($config(ENABLE_BOOKMARKS))-->
<li class="toolbar-spacer action addbookmark sel-none hideit uibutton" title="$tl(addbookmarktitle)" aria-label="$tl(addbookmarktitle)"></li>
<li class="action bookmarkmenu sel-none hideit uibutton" id="bookmarks" title="$tl(bookmarks)" aria-label="$tl(bookmarks)" accesskey="b">
	&nbsp;
	<ul id="bookmarksmenulist">
		<li id="bookmarktemplate" class="hidden">
			<div class="bookmarklabel">$bookmarktext</div>
			<div tabindex="0" class="action rmsinglebookmark" title="$tl(rmbookmark)" aria-label="$tl(rmbookmark)" data-bookmark="$bookmarkpath"></div>
		</li>
		<li class="sep action bookmarksortpath"><div class="bookmarksortlabel">$tl(sortbookmarkbypath)</div><div class="path">&uarr;</div><div class="path-desc">&darr;</div></li>
		<li class="action bookmarksorttime"><div class="bookmarksortlabel">$tl(sortbookmarkbytime)</div><div class="time">&uarr;</div><div class="time-desc">&darr;</div></li>
		<li class="sep action rmallbookmarks" title="$tl(rmallbookmarkstitle)">$tl(rmallbookmarks)</li>
	</ul>
</li>
<!--ENDIF-->
<!--IF(%AUTOREFRESH)-->
<li id="autorefresh" title="$tl(autorefresh.select.title)" class="toolbar-spacer action autorefreshmenu sel-none hideit uibutton" aria-label="$tl(autorefresh.select.title)" accesskey="a">
	&nbsp;
	<ul id="autorefreshmenulist">
		<li class="action setautorefresh" tabindex="0" data-value="now" aria-label="$tl(autorefresh.now)">$tl(autorefresh.now)</li>
		$each@%AUTOREFRESH@'<li tabindex="0" class="action setautorefresh" data-value="$k" aria-label="$tl(autorefresh.select.title) $v">$v</li>'@
		<li class="sep autorefreshrunning action autorefreshtoggle" tabindex="0" aria-label="$tl(autorefresh.toggle)">$tl(autorefresh.toggle)</li>
		<li class="autorefreshrunning action autorefreshclear" tabindex="0" aria-label="$tl(autorefresh.clear)">$tl(autorefresh.clear)</li>
		<li class="sep autorefreshtimer" data-template="$tl(autorefresh.format)"></li> 
	</ul>
<!--ENDIF-->
<li class="sel-multi hideit selstats notab" id="selstats" title="">$tl(statfiles) $filecount, $tl(statfolders) $dircount $tl(statsum) $sum</li>
<!--IF($config(ENABLE_CLIPBOARD))-->			
<li class="action copy sel-multi hideit hidden uibutton"  title="$tl(copytooltip)" aria-label="$tl(copytooltip)" accesskey="c"></li>
<li class="action cut sel-multi hideit access-writeable hidden uibutton" title="$tl(cuttooltip)" aria-label="$tl(cuttooltip)" accesskey="x"></li>
<!--ENDIF-->		
$extension(filelistaction)	
<li class="action delete sel-multi hideit hidden access-writeable uibutton" title="$tl(deletefilestext)">$tl(deletefilesbutton)</li>
<!--IF($config(ENABLE_NAMEFILTER))-->
<li class="filterbox">
	$extension(filterbox)
	<form id="filterbox" method="post" action="#">
		$tl(namefilter) <input type="text" name="query" size="10" title="$tl(namefiltertooltip)" aria-label="$tl(namefiltertooltip)" accesskey="i"/>
		<img class="action clearfilter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAACqjSMyAAAACXBIWXMAAABIAAAASABGyWs+AAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" alt="-" title="$tl(filter.reset)" aria-label="$tl(filter.reset)"/>
	</form>
</li>
<!--ENDIF-->
</ul>
<form id="file-upload-form" enctype="multipart/form-data" method="post" action="#" data-maxfilesize="$maxuploadsize" data-maxfilesizehr="$maxuploadsizehr">
	<input type="hidden" name="filesubmit" value="yes"/>
	<input id="file-upload-form-relapath" type="hidden" name="relapath" value=""/>
	<input class="file-upload" type="file" name="file_upload" multiple/>
</form>