<ul id="viewbar">
<li class="action toggle-foldertree uibutton" title="$tl(foldertree.toggle)" tabindex="0"></li>
<li class="action flt-view-change flt-view-thumbs uibutton" data-view="flt-view-thumbs" title="$tl(filelisttable.view.thumbs)" tabindex="0"></li>
<li class="action flt-view-change flt-view-list uibutton" data-view="flt-view-list" title="$tl(filelisttable.view.list)" tabindex="0"></li>
<li class="action flt-view-change flt-view-details flt-view-default uibutton" data-view="flt-view-details" title="$tl(filelisttable.view.details)" tabindex="0"></li>
</ul>