<div class="localizer-locale-editor">
<table class="localizer-locale-editor-table">
<thead>
<tr><th>$tl(localizer.original)</th><th>$tl(localizer.translation) $LT ($L)</th></tr>
<tbody>
<!--TEMPLATE(entry)[
<tr class="localizer-locale-editor-entry-head"><td colspan="2">$KEY</td></tr>  
<tr class="localizer-locale-editor-entry" tabindex="1"><td>$ORIG</td><td class="localizer-locale-editor-entry-translation" data-key="$KEY">$TRANS</td></tr>
]-->
$EDITOR
</tbody>
</table>
<div class="localizer-locale-editor-buttons">
<button class="localizer-locale-editor-button-download">$tl(localizer.download)</button>
<button class="localizer-locale-editor-button-save">$tl(localizer.save)</button>
</div>
</div>