<div class="localizer-locale-editor">
<input type="hidden" class="localizer-editor-lang" name="localizereditorlang" value="$L">
<input type="hidden" class="localizer-editor-type" name="localizereditortype" value="$T">
<input type="hidden" class="localizer-editor-typeval" name="localizereditortypeval" value="$TV">
<table class="localizer-locale-editor-table">
<thead>
<tr><th>$tl(localizer.original)</th><th>$tl(localizer.translation) $LT ($L)</th></tr>
<tbody>
<!--TEMPLATE(entry)[
<tr class="localizer-locale-editor-entry-head"><td colspan="2">$KEY</td></tr>  
<tr class="localizer-locale-editor-entry"><td>$ORIG</td><td class="localizer-locale-editor-entry-translation" tabindex="1" data-key="$KEY">$TRANS</td></tr>
]-->
$EDITOR
</tbody>
</table>
<div class="localizer-locale-editor-buttons">
<button class="localizer-locale-editor-button-download">$tl(localizer.download)</button>
<!--IF( (-e "$filename" && -w "$filename") || (!-e "$filename" && -w "$basepath") )-->
<button class="localizer-locale-editor-button-save">$tl(localizer.save)</button>
<!--ENDIF-->
</div>
</div>