<tr class="diff $type">
<td class="diff line">$linenumber1</td>
<td class="diff $type"><div class="diff pre">$text1</div></td>
<td class="diff line">$linenumber2</td>
<td class="diff $type"><div class="diff pre">$text2</div></td>
</tr>