<tr class="diff filename">
	<td class="diff filename" colspan="2"><div title="$file1" class="diff filename">$file1</div></td>
	<td class="diff filename" colspan="2"><div title="$file2" class="diff filename">$file2</div></td>
</tr>