<div id="edittextdata" title="$filename">
<!--IF( "$extconfig(disableckeditor)" ne "1" && "$mime" eq "text/html" )-->
<script src="${VHTDOCS}_EXTENSION(TextEditor)_/htdocs/contrib/ckeditor/ckeditor.js"></script>
<script src="${VHTDOCS}_EXTENSION(TextEditor)_/htdocs/contrib/ckeditor/adapters/jquery.js"></script>
<script>
$(document).ready(function() {
    $(".textdata").ckeditor({ fullPage : true, language: '$LANG', removePlugins: 'save', baseFloatZIndex: 10000 });
    $(".textdata")
        .on("editstart", function() {
            //$(".textdata").ckeditor({ fullPage : true, language: '$LANG', removePlugins: 'save', baseFloatZIndex: 10000 });
        }).on("editsubmit", function() {
            for (var name in CKEDITOR.instances) CKEDITOR.instances[name].updateElement();
        }).on("editdone", function() {
            for (var name in CKEDITOR.instances) CKEDITOR.instances[name].destroy();
        });
});
</script>
<!--ENDIF-->
<!--IF( "$filename" =~ /[.](?:md|markdown)$/xmsi )-->
<link rel="stylesheet" type="text/css" href="${VHTDOCS}_EXTENSION(TextEditor)_/htdocs/markdown/style.css">
<link rel="stylesheet" type="text/css" href="${VHTDOCS}_EXTENSION(TextEditor)_/htdocs/markdown/images/buttons.css">
<script src="${VHTDOCS}_EXTENSION(TextEditor)_/htdocs/markdown/script.js"></script>
<script>
$(".textdata").markdownEditor({
    fullscreenElement : "#edittextdataform",
    locale : {
        heading : "$tl(editor.heading)",
        bold: "$tl(editor.bold)",
        italic: "$tl(editor.italic)",
        ol : "$tl(editor.ol)",
        ul : "$tl(editor.ul)",
        code: "$tl(editor.code)",
        codeblock : "$tl(editor.codeblock)",
        quote: "$tl(editor.quote)",
        link : "$tl(editor.link)",
        image : "$tl(editor.image)",
        preview : "$tl(editor.preview)",
        fullscreen: "$tl(editor.fullscreen)",
        br: "$tl(editor.br)",
        p: "$tl(editor.p)",
        hr : "$tl(editor.hr)",
        split: "$tl(editor.split)",
        url : "$tl(editor.url)",
        imagesrc : "$tl(editor.imagesrc)",
        linktext : "$tl(editor.linktext)",
        alttext : "$tl(editor.alttext)",
        title : "$tl(editor.title)",
        strikethrough : "$tl(editor.strikethrough)"
    },
});
</script>
<!--ENDIF-->
    <form id="edittextdataform" method="post" action="#">
        <textarea class="textdata" name="textdata" rows="15" cols="70" data-file="$filename">$textdata</textarea>
        <div><a href="#" class="action cancel-edit" data-action="cancel-edit">$tl(cancel)</a><a href="#" class="action savetextdata" data-action="savetextdata">$tl(savebutton)</a></div>
    </form>
    <div class="template">
        <div id="canceledit">$tl(canceledit)</div>
        <div id="confirmsavetextdata">$tl(confirmsavetextdata)</div>
        <div id="beforeunload">$tl(beforeunload)</div>
    </div>
</div>
