<tr class="diskusage entry">
	<td class="diskusage filename" title="$tl(statfiles) $filecount, $tl(statfolders) $foldercount, $tl(statsum) $sumcount"><div class="diskusage perc" style="$percstyle"><a href="$folderuri">$foldername</a></div></td>
	<td class="diskusage size" title="$foldersizetitle">$foldersize</td>
</tr>