<div title="$tl(du_diskusage): $size">
<div title="$sizetitle">$diskusageof: $size</div>
<div> $tl(statfiles) $files, $tl(statfolders) $folders, $tl(statsum) $sum</div>
<!--IF($bytesize > 0)-->
<script type="text/javascript" src="${VHTDOCS}_EXTENSION(Libs)_/htdocs/contrib/jquery.ui.treemap.min.js"></script>
<script type="text/javascript" src="${VHTDOCS}_EXTENSION(Libs)_/htdocs/contrib/amcharts/amcharts.js"></script>
<script type="text/javascript" src="${VHTDOCS}_EXTENSION(Libs)_/htdocs/contrib/amcharts/pie.js"></script>
<script type="text/javascript" src="${VHTDOCS}_EXTENSION(Libs)_/htdocs/contrib/amcharts/themes/light.js"></script>

<div class="diskusage details accordion">
	<h3>$tl(du_details)</h3>
	<div>
<table class="diskusage details">
<thead>
<tr><th class="diskusage filename"></th><th class="diskusage filename">$tl(name)</th><th class="diskusage size">$tl(size)</th><th class="diskusage lastmodified">$tl(lastmodified)</th>
</thead>
<tbody>
<tr>
	<th class="diskusage filename">$tl(du_biggestfolder):</th>
	<td class="diskusage filename" title="$tl(statfiles) $biggestfolderfilecount, $tl(statfolders) $biggestfolderfoldercount, $tl(statsum) $biggestfoldersum"><a href="$biggestfolderuri">$biggestfoldername</a></td>
	<td class="diskusage size" title="$biggestfoldersizetitle">$biggestfoldersize</td>
	<td class="diskusage lastmodified" title="$biggestfolderagetitle">$biggestfolderage</td>
</tr>
<tr>
	<th class="diskusage filename">$tl(du_biggestfile):</th>
	<td class="diskusage filename" title="$biggestfilepathname"><a href="$biggestfilepathuri">$biggestfilename</a></td>
	<td class="diskusage size" title="$biggestfilesizetitle">$biggestfilesize</td>
	<td class="diskusage lastmodified" title="$biggestfileagetitle">$biggestfileage</td>
</tr>
<tr>
	<th class="diskusage filename">$tl(du_oldestfolder):</th>
	<td class="diskusage filename" title="$tl(statfiles) $oldestfolderfilecount, $tl(statfolders) $oldestfolderfoldercount, $tl(statsum) $oldestfoldersum"><a href="$oldestfolderuri">$oldestfoldername</a></td>
	<td class="diskusage size" title="$oldestfoldersizetitle">$oldestfoldersize</td>
	<td class="diskusage lastmodified" title="$oldestfolderagetitle">$oldestfolderage</td>
</tr>
<tr>
	<th class="diskusage filename">$tl(du_newestfolder):</th>
	<td class="diskusage filename" title="$tl(statfiles) $newestfolderfilecount, $tl(statfolders) $newestfolderfoldercount, $tl(statsum) $newestfoldersum"><a href="$newestfolderuri">$newestfoldername</a></td>
	<td class="diskusage size" title="$newestfoldersizetitle">$newestfoldersize</td>
	<td class="diskusage lastmodified" title="$newestfolderagetitle">$newestfolderage</td>
</tr>
<tr>
	<th class="diskusage filename">$tl(du_oldestfile):</th>
	<td class="diskusage filename" title="$oldestfilepathname"><a href="$oldestfilepathuri">$oldestfilename</a></td>
	<td class="diskusage size" title="$oldestfilesizetitle">$oldestfilesize</td>
	<td class="diskusage lastmodified" title="$oldestfileagetitle">$oldestfileage</td>
</tr>
<tr>
	<th class="diskusage filename">$tl(du_newestfile):</th>
	<td class="diskusage filename" title="$newestfilepathname"><a href="$newestfilepathuri">$newestfilename</a></td>
	<td class="diskusage size" title="$newestfilesizetitle">$newestfilesize</td>
	<td class="diskusage lastmodified" title="$newestfileage">$newestfileage</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="diskusage treemap accordion">
	<h3>$tl(du_treemap)</h3>
	<div>
		<div class="diskusage treemap switch">
			<div class="diskusage treemap sort byfoldersize active">$tl(du_treemap_byfoldersize)</div>
			<div class="diskusage treemap sort byfilesize">$tl(du_treemap_byfilesize)</div>
			<div class="diskusage treemap sort byfilecount">$tl(du_treemap_byfilecount)</div>
		</div>
		<div class="diskusage treemap switch smalltext">
			<div class="diskusage treemap dimensions" data-dimensions="[400,200]">400x200</div>
			<div class="diskusage treemap dimensions active" data-dimensions="[800,600]">800x600</div>
			<div class="diskusage treemap dimensions" data-dimensions="[1200,900]">1200x900</div>
			<div class="diskusage treemap switch space"></div> 
			<div class="diskusage treemap color active" data-color="color1">$tl(du_color) 1</div>
			<div class="diskusage treemap color" data-color="color2">$tl(du_color) 2</div>
			<div class="diskusage treemap color" data-color="color3">$tl(du_color) 3</div>
		</div>
		<div class="treemappanel" data-mapdata="$json(treemapdata)"></div>
	</div>
</div>
<div class="diskusage filetype accordion">
	<h3>$tl(du_filetypes)</h3>
	<div>
	<div class="diskusage filetype chart">
		<div class="diskusage filetype charttitle">$tl(du_suffixesbycount)</div>
		<div id="chart1-$time" class="diskusage filetype piechart count" data-json="$json(suffixesbycount)"></div>
	</div>
	<div class="diskusage filetype chart">
		<div class="diskusage filetype charttitle">$tl(du_suffixesbysize)</div>
		<div id="chart2-$time" class="diskusage filetype piechart size" data-json="$json(suffixesbysize)"></div>
		
	</div>
	</div>
</div>
<div class="diskusage folderlist accordion">
	<h3>$tl(du_folderlist)</h3>
	<div>

		<table class="diskusage details">
			<thead>
				<tr><th class="diskusage filename">$tl(name)</th><th class="diskusage size" title="$sizetitle">$tl(size)</th></tr>
			</thead>
			<tbody>
				$details(detailsentry)
			</tbody>
		</table>
	</div>
</div>

<!--ENDIF-->
</div>