<div title="$tl(du_diskusage): $size">
<div title="$sizetitle">$diskusageof: $size</div>
<div> $tl(statfiles) $files, $tl(statfolders) $folders, $tl(statsum) $sum</div>
<div class="diskusage details accordion">
	<h3>$tl(du_details)</h3>
	<div>
		<table class="diskusage details">
			<thead>
				<tr><th class="diskusage filename">$tl(name)</th><th class="diskusage size" title="$sizetitle">$tl(size)</th></tr>
			</thead>
			<tbody">
				$details(detailsentry)
			</tbody>
		</table>
	</div>
</div>
<div class="diskusage treemap accordion">
	<h3>$tl(du_treemap)</h3>
	<div>
		<div class="diskusage treemap switch">
			<div class="diskusage treemap sort byfoldersize active">$tl(du_treemap_byfoldersize)</div>
			<div class="diskusage treemap sort byfilesize">$tl(du_treemap_byfilesize)</div>
			<div class="diskusage treemap sort byfilecount">$tl(du_treemap_byfilecount)</div>
		</div>
		<div class="diskusage treemap switch smalltext">
			<div class="diskusage treemap dimensions" data-dimensions="[400,200]">400x200</div>
			<div class="diskusage treemap dimensions active" data-dimensions="[800,600]">800x600</div>
			<div class="diskusage treemap dimensions" data-dimensions="[1200,900]">1200x900</div>
			<div class="diskusage treemap switch space"></div> 
			<div class="diskusage treemap color active" data-color="color1">$tl(du_color) 1</div>
			<div class="diskusage treemap color" data-color="color2">$tl(du_color) 2</div>
			<div class="diskusage treemap color" data-color="color3">$tl(du_color) 3</div>
		</div>
		<div class="treemappanel" data-mapdata="$json(treemapdata)"></div>
	</div>
</div>
<div class="diskusage statistics accordion">
	<h3>$tl(du_statistics)</h3>
	<div>
	<div class="diskusage statistics chart">
		<div class="diskusage statistics charttitle">$tl(du_suffixesbycount)</div>
		<div id="chart1-$time-info" class="diskusage statistics info"></div>		
		<div id="chart1-$time" class="diskusage statistics piechart count" data-json="$json(suffixesbycount)"></div>
	</div>
	<div class="diskusage statistics chart">
		<div class="diskusage statistics charttitle">$tl(du_suffixesbysize)</div>
		<div id="chart2-$time-info" class="diskusage statistics info"></div>
		<div id="chart2-$time" class="diskusage statistics piechart size" data-json="$json(suffixesbysize)"></div>
		
	</div>
	</div>
</div>
</div>