<div title="$dialogtitle" class="imageinfo">
<table class="imageinfo">
<tbody>
<tr><td class="iigroupstitle">$tl(imageinfo.groups)</td><td class="iipropstitle">$tl(imageinfo.properties)</td></tr>
<tr><td><div class="iigroups">$groups<br>$img</div></td><td><div class="iigroupcontent">$groupcontent</div></td></tr>
</tbody>
</table>
</div>