<div title="$dialogtitle" class="imageinfo $type">
<table class="imageinfo">
<tbody>
<tr><td class="iigroupstitle">$tl(imageinfo.groups)</td><td class="iipropstitle">$tl(imageinfo.properties)</td></tr>
<tr><td><div class="iigroups">$groups<br><a href="$imglink" class="iiimglink">$img</a></div></td><td><div class="iigroupcontent">$groupcontent</div></td></tr>
</tbody>
</table>
</div>