<div class="sendbymaildialog" title="$TL{sendbymail}">
<form action="#" method="post" class="sendbymail" target="_blank">
<input type="hidden" name="ajax" value="send"/>
<input type="hidden" name="action" value="sendbymail"/>
<table class="sendbymail">
<tr class="sendbymail error hidden" id="inputfailure"><th colspan="2" class="sendbymail error">$TL{sendbymail_msg_inputfailure}</th></tr>
<tr class="sendbymail from"><th>$TL{sendbymail_from}</th><td><input type="text" size="50" name="from" value="$defaultfrom"/></td></tr>
<tr class="sendbymail to" title="$TL{sendbymail_to_tooltip}"><th>$TL{sendbymail_to}</th><td><textarea cols="49" rows="2" name="to">$defaultto</textarea> </td></tr>
<tr class="sendbymail subject"><th>$TL{sendbymail_subject}</th><td><input type="text" size="50" name="subject" value="$defaultsubject"/></td></tr>
<tr class="sendbymail message"><th>$TL{sendbymail_message}</th><td><textarea cols="48" rows="4" name="message">$defaultmessage</textarea></td></tr>
<tr class="sendbymail attachments"><th>$TL{sendbymail_attachments} 
									   <div class="sendbymail note sumfilesizes" title="$sumfilesizes_title">$TL{size}: $sumfilesizes</div>
                                       <div class="sendbymail note" title="$mailsizelimit_title">($TL{sendbymail_sizelimit}: $mailsizelimit)</div></th>
                                   <td>$FILES</td></tr>
<tr class="sendbymail zip"><th></th><td class="sendbymail zip"><input type="checkbox" name="zip"> $TL{sendbymail_zip}</input>, $TL{sendbymail_zipfilename} <input type="text" name="zipfilename" value="$defaultzipfilename" size="11"/></td></tr>
<tr class="sendbymail button"><th><input type="submit" name="download" value="$TL{sendbymail_download}"/></th><th class="sendbymail button"><input type="submit" name="send" value="$TL{sendbymail_send}"/></th></tr>
</table>
</form>
<!--FILES[ <div class="sendbymail files $filetype" data-filename="$filename"><div data-filename="$filename" title="$TL{sendbymail_remove}" class="sendbymail remove">-</div><span title="$filename">$filename_short</span> (<span title="$size_title">$size</span>) <input type="hidden" name="files" value="$filename"/></div>  ]-->
</div>