<div title="$tl(scv)">
<link rel="stylesheet" href="${VHTDOCS}_EXTENSION(SourceCodeViewer)_/htdocs/contrib/contrib.css"/>
<style>li.L0, li.L1, li.L2, li.L3,li.L5, li.L6, li.L7, li.L8{ list-style-type: decimal !important }</style>
<script src="${VHTDOCS}_EXTENSION(SourceCodeViewer)_/htdocs/contrib/contrib.js"></script>
<div><a href="#" class="scv-linenum">$tl(scvtogglelinenum)</a></div>
<div class="scv filename" title="$filename">$filename</div>
<pre class="scv prettyprint lang-$suffix">$content</pre>
</div>