@import "mixins.less";
@fonts: Verdana, Helvetica, Arial, sans-serif;
.lighten (@color , @perc) {
    @lightencolor: lighten(@color, @perc);
}

.darken (@color , @perc) {
    @darkencolor: darken(@color, @perc);
}

@default-bgcolor: white;
@default-color: black;
@default-bordercolor: #ddd;
@default-button-bordercolor: @default-bordercolor;
@default-button-color: #666;
@default-button-bgcolor: #eee;
@default-button-active-color: @default-color;
@default-button-active-bgcolor: @default-bordercolor;
@top-font-size: 15px;
@top-color: @default-bgcolor;
@top-bgcolor: @default-color;
@nav-font-size: 15px;
@nav-bgcolor: @default-button-bgcolor;
@nav-color: @default-button-color;
@nav-shadow: @default-color;
@nav-hover-color: @default-button-active-color;
@nav-hover-bgcolor: @default-button-active-bgcolor;
@nav-active-color: @default-button-active-color;
@nav-active-bgcolor: @default-button-active-bgcolor;
@controls-color: @nav-color;
@controls-bgcolor: @default-bgcolor;
@controls-bordercolor: @default-bordercolor;
@controls-shadowcolor: @default-color;
@viewbar-bgcolor: @controls-bgcolor;
@viewbar-bordercolor: @default-bordercolor;
@viewbar-fontsize: medium;
.default-colors () {
    color: @default-color;
    background-color: @default-bgcolor;
}

.theme-default-colors {
    color: @default-color;
    background-color: @default-bgcolor;
}

.theme-default-color {
    color: @default-color;
}

.theme-default-bgcolor {
    background-color: @default-bgcolor;
}

.theme-default-bordercolor {
    border-color: @default-bordercolor;
}

.theme-default-hover {
    &:focus , &:active , &:hover {
        background-color: @default-bordercolor;
        color: @default-bgcolor;
    }
}

.theme-default-button {
    color: @default-button-color;
    .linear-gradient (@default-button-bgcolor , to bottom , @default-button-bgcolor , @default-button-color);
    border: 1px solid @default-button-bordercolor;
    &:hover , &:focus {
        color: @default-color;
        .linear-gradient (@default-button-bgcolor , to bottom , @default-bordercolor , @default-button-color);
    }

    &:active {
        color: @default-button-active-color;
        background-color: @default-button-active-bgcolor;
        background-image: none;
    }
}

body {
    .reset-borders ();
    .default-colors ();
    font-family: @fonts;
}

a {
    color: @default-color;
}

input {
    background-color: @default-bgcolor;
    color: @default-color;
    &[readonly=readonly] {
        opacity: 0.5;
    }

    &.file-upload {
        opacity: 0;
    }
}

.action , .ui-button.action {
    background-color: transparent;
    &:focus , &:hover , &:active {
        background-color: @default-button-active-bgcolor;
    }
}

.action {
    &.delete , &.foldertree-delete-folder {
        &:focus , &:hover , &:active {
            background-color: #ff6666 ! important;
        }
    }

    &.flt-view-change.toggle-on {
        border: 1px inset @default-bordercolor;
        background-color: @default-button-active-bgcolor;
    }
}

.link {
    &:hover {
        background-color: @default-button-active-bgcolor;
    }
}

.link-button {
    &:hover:before , &:active:before , &:focus:before {
        color: @default-color;
    }
}

.disabled {
    a& , .link& {
        .lighten (@default-color , 60%);
        color: @lightencolor;
    }
}

.accesskey {
    .lighten (@default-color , 40%);
    color: @lightencolor;
    font-size: 80%;
    font-family: monospace;
}

.accesskeydetails {
    font-family: monospace;
}

.note {
    .lighten (@default-color , 40%);
    color: @lightencolor;
    font-size: .8em;
}

.disabled {
    a& , .button& , li& {
        opacity: .5;
    }
}

.neverdisabled {
    .link& , a& {
        opacity: 1;
        color: black;
    }
}

#filler {
    background-color: @default-bgcolor;
}

#top {
    color: @top-color;
    .lighten (@top-bgcolor , 60%);
    .linear-gradient (@top-bgcolor , to bottom , @top-bgcolor , @lightencolor);
    .darken (@top-color , 80%);
    .box-shadow (0 0 10px rgba(0, 0, 0, 0.5) , 0 -2px 10px @darkencolor inset);
    font-size: @top-font-size;
}

#now {
    font-size: 10px;
}

#nav {
    .linear-gradient (@nav-bgcolor , to right , @default-bgcolor , @nav-bgcolor);
    .box-shadow (-3px 0 7px @nav-shadow);
    > ul > li {
        .lighten (@default-bordercolor , 16%);
        @topcolor: @lightencolor;
        .lighten (@default-bordercolor , 8%);
        @rightcolor: @lightencolor;
        border-top: 1px solid @topcolor;
        border-right: 1px solid @rightcolor;
        border-bottom: 1px solid @default-bordercolor;
        border-left: 0;
        font-size: @nav-font-size;
        color: @nav-color;
        .lighten (@nav-color , 55%);
        text-shadow: 0 1px 0 @lightencolor;
        &:hover , &:focus {
            color: @nav-hover-color;
            background-color: @nav-hover-bgcolor;
        }

        &:active {
            color: @nav-active-color;
            background-color: @nav-active-bgcolor;
        }
    }
}

#controls {
    background-color: @controls-bgcolor;
    border-bottom: 1px solid @controls-bordercolor;
    .box-shadow (0 -3px 7px @controls-shadowcolor);
    .toolbar {
        font-size: 15px;
        > .action {
            .bordered (@default-button-bordercolor , @default-button-bordercolor , @default-button-bordercolor , @default-button-bordercolor);
            color: @default-button-color;
            &:active , &:focus , &:hover {
                background-color: @default-button-active-bgcolor;
            }
        }

        > li {
            font-size: 15px;
        }
    }
}

#pathinput {
    font-size: 100%;
}

#autorefreshtimer {
    color: @default-button-color;
    background-color: @default-bgcolor;
    border: 1px solid @default-button-bordercolor;
    .box-shadow (3px 0 7px @default-button-bordercolor);
    font-size: 15px;
}

.collapsible {
    border: 1px solid @default-button-bordercolor;
    opacity: 0.5;
    &.top , &.left {
        opacity: 0;
    }

    &:hover , &:active , &:focus {
        opacity: 1;
    }

    &.action.collapse-sidebar {
        background-color: @nav-bgcolor;
    }

    &.action.collapse-head {
        background-color: @nav-bgcolor;
    }
}

#quicknav {
    color: @controls-color;
    border: 1px solid transparent;
    .quicknav-el {
        &:hover , &:focus , &:active {
            color: @default-color;
        }
    }
}

#fileactions {
    font-size: 15px;
    font-weight: normal;
    .label {
        font-size: 15px ! important;
        font-style: normal;
        font-family: sans-serif;
        text-transform: none;
    }
}

.fileactions-popup {
    li {
        font-size: 15px ! important;
    }
}

#fileList {
    .filename .nametext {
        font-weight: inherit;
    }

    .mode {
        font-family: monospace;
    }

    .selectbutton {
        opacity: 0;
        &:hover , &:focus {
            opacity: 0.8;
        }

        &:checked {
            opacity: 1;
        }

        &:disabled {
            opacity: 0;
        }
    }

    tr {
        &:hover , &.draghover , &:focus {
            .darken (@default-bgcolor , 10%);
            background-color: @darkencolor;
        }

        &.cutted , &.cutted a {
            .lighten (@default-color , 66%);
            color: @lightencolor;
        }

        &.selected {
            .darken (@default-bgcolor , 20%);
            background-color: @darkencolor;
            &:hover , &:focus , &:active {
                .darken (@default-bgcolor , 34%);
                background-color: @darkencolor;
            }
        }

        &.isreadable-no {
            .lighten (@default-color , 60%);
            color: @lightencolor;
            a {
                .lighten (@default-color , 60%);
                color: @lightencolor;
            }

            &:hover , &:active , &:focus {
                .lighten (@default-color , 50%);
                color: @lightencolor;
                .darken (@default-bgcolor , 20%);
                background-color: @darkencolor;
            }

            &.selected {
                .lighten (@default-color , 80%);
                color: @lightencolor;
                &:hover , &:active , &:focus {
                    .lighten (@default-color , 90%);
                    color: @lightencolor;
                }
            }
        }
    }
}

.filterbox {
    li& {
        font-weight: bold;
        .lighten (@default-color , 50%);
        color: @lightencolor;
    }
}

.flt-view-list , .flt-view-thumbs {
    .draghover {
        border: inherit;
        background-color: @default-button-active-bgcolor;
    }

    #fileList {
        tr {
            border: 3px solid transparent;
            &.selected {
                border: 3px inset @default-bordercolor;
            }
        }
    }
}

#fileListTable {
    font-size: 15px;
    tr {
        border-top: 1px solid @default-bordercolor;
        border-bottom: 1px solid @default-bordercolor;
    }

    th {
        .lighten (@default-color , 50%);
        color: @lightencolor;
        background-color: @default-bgcolor;
        &.dragged {
            opacity: 0.8;
        }
    }

    .draghover {
        border-left: 2em solid @default-bordercolor;
    }
}

.statistics {
    .lighten (@default-color , 30%);
    color: @lightencolor;
    font-size: 0.8em;
    border-bottom: 1px solid @default-bordercolor;
}

.selstats {
    .darken (@default-bgcolor , 20%);
    background-color: @darkencolor;
}

.icon {
    color: transparent;
    &.thumbnail {
        background-color: transparent ! important;
    }
}

#overlay , .overlay {
    opacity: .5;
    background-color: @default-bgcolor;
}

#content {
    background-color: @default-bgcolor;
    &.hover {
        border: 5px solid green;
    }
}

#viewbar {
    background-color: @viewbar-bgcolor;
    border: 1px solid @viewbar-bordercolor;
    font-size: @viewbar-fontsize;
}

#quota {
    color: @default-button-color;
    font-weight: normal;
    .quotabar {
        border: 1px solid @default-bordercolor;
        background-color: @default-bgcolor;
    }

    .quotaused {
        background-color: @default-bordercolor;
        border: 1px outset @default-bordercolor;
    }

    &.warn , .warn {
        background-color: yellow;
    }

    &.critical , .critical {
        background-color: red;
        color: yellow;
    }
}

#foldertree-pane {
    background-color: @default-bgcolor;
    color: @default-color;
    border: 2px solid @default-bordercolor;
    .mft-node-label {
        color: @default-color;
        &.foldertree-draghover {
            background-color: @default-bordercolor;
        }

        &:hover , &:active , &:focus {
            .mft-node-label-text {
                background-color: @default-button-active-bgcolor;
            }
        }
    }

    .isreadable-no .mft-node-label-text {
        .lighten (@default-color , 60%);
        color: @lightencolor;
    }

    .mft-node-expander {
        opacity: 0.5;
        .mft-node-read > & {
            opacity: 1;
        }
    }
}

.show-foldertree {
    .action.toggle-foldertree {
        border: 1px inset @default-bordercolor;
        background-color: @default-button-active-bgcolor;
    }
}

#foldertreetoolbar {
    background-color: @controls-bgcolor;
    border: 1px solid @default-bordercolor;
}

.tableconfigdialog {
    .default-colors ();
}

.tableconfigbutton {
    border: 1px solid @default-button-bordercolor;
}

.symbol {
    .lighten (@default-color , 50%);
    color: @lightencolor;
    font-weight: bold;
    &:hover , li:hover > & , &:active , li:active > & , &:focus , li:focus > & {
        color: @default-color;
    }
}

.viewfilterinfo {
    background-color: yellow;
    font-size: 0.8em;
}

#abortdialog {
    .default-colors ();
    border: 1px solid @default-bordercolor;
}

.dropdown-menu {
    background: white;
    border: 1px solid @default-bordercolor;
    .box-shadow (3px 0 7px @default-bordercolor);
}

#progress {
    background-color: @default-bgcolor;
    .bar {
        background-color: #ddddff;
        color: black;
        border: 1px solid #aaaaff;
    }

    .info {
        font-size: 0.9em;
        .fileprogress {
            border: 1px solid @default-bordercolor;
        }

        .fileprogressbar {
            &.running {
                border-bottom: 2px solid #4444ff;
            }

            &.failed {
                background-color: #ffbbbb;
            }
        }
    }
}

.langswitch {
    color: @default-bgcolor;
    font-size: 10px;
    a {
        color: @default-bgcolor;
        background-color: transparent;
        border: 1px solid transparent;
        &:hover , &:focus , &:active {
            border: 1px solid @default-bgcolor;
        }
    }
}

ul.popup {
    .default-colors ();
    .darken (@default-bgcolor , 7%);
    .linear-gradient (@default-bgcolor , to right , @default-bgcolor , @darkencolor);
    border: 1px solid @default-bordercolor;
    .box-shadow (3px 0 7px @default-bordercolor);
    li , li.popup {
        font-size: 15px;
        font-weight: initial;
        text-shadow: none;
        color: @default-color;
        &:hover , &:focus , &:active {
            color: @default-color;
        }
    }
}

li.popup , li.action {
    &:hover {
        border: 1px dotted @default-button-bordercolor;
        background-color: @default-button-active-bgcolor;
    }

    &:focus , &:active {
        border: 1px solid @default-button-bordercolor;
        background-color: @default-button-active-bgcolor;
    }
}

li.action.disabled {
    &:hover , &:focus , &:active {
        .lighten (@default-button-active-bgcolor , 8%);
        background-color: @lightencolor;
    }
}

li.sep {
    border-top: 1px solid @default-bordercolor ! important;
}

#statusbar {
    .box-shadow (-3px 0 3px @default-color);
    color: @default-color;
    background-color: @controls-bgcolor;
    font-size: 15px;
    .notify {
        background-color: @default-bgcolor;
        border: 1px solid @default-bordercolor;
        &.error {
            color: white;
            background-color: red;
        }

        &.message {
            background-color: white;
        }

        &.warning {
            background-color: #ffd700;
        }
    }

    .selected-files-stats {
        .darken (@default-bgcolor , 20%);
        background-color: @darkencolor;
    }
}

.tabsels {
    border: 1px solid @default-bordercolor;
}

.tabsel {
    border: 1px solid @default-bordercolor;
    &:hover , &:focus , &:active {
        border-color: @default-color;
        .darken (@default-bgcolor , 20%);
        background-color: @darkencolor;
    }

    &.activetabsel {
        border-color: @default-color;
        .darken (@default-bgcolor , 34%);
        background-color: @darkencolor;
    }
}

.tabhead {
    font-weight: bold;
    border-bottom: 1px solid @default-color;
}

.contexthelp {
    border: 1px solid @default-bordercolor;
    font-size: 0.8em;
}

.ajax-loader {
    opacity: 0.7;
    background-color: @default-bgcolor;
}

.ui-widget-header , .ui-widget-content , .ui-button {
    background-color: @default-bgcolor;
    color: @default-color;
    border-color: @default-bordercolor;
}

.ui-widget-header {
    .linear-gradient (@default-bgcolor , to bottom , @default-bordercolor , @default-bgcolor);
}

.ui-widget-overlay {
    .radial-gradient (@default-bordercolor , @default-bgcolor);
    opacity: 0.7;
}

.ui-state-default , .ui-button , button {
    &:extend(.theme-default-button);
}

.ui-state-hover {
    color: @default-color;
    background-color: @default-button-active-bgcolor;
}

