@import "mixins.less";
@fonts: Verdana, Helvetica, Arial, sans-serif;
.lighten(@color , @perc) {
    @lightencolor: lighten(@color, @perc);
}

.darken (@color , @perc) {
    @darkencolor: darken(@color, @perc);
}
.colors(@var, @color:unset) {
    @sc: ~'--@{var}-color';
    color: @color;
    color: var(@sc, @color);
}
.colors(@var, @color, @bgcolor) {
    .colors(@var, @color);
    @sbc: ~'--@{var}-bgcolor';
    background-color: @bgcolor;
    background-color: var(@sbc, @bgcolor);
  
}
.colors(@var, @color, @bgcolor, @border) {
    .colors(@var, @color, @bgcolor);
    @sbo: ~'--@{var}-border-color';
    border-color: @border;
    border-color: var(@sbo,@border);
}

.colors(@var, @color, @bgcolor, @border, @image ) {
    .colors(@var,@color,@bgcolor,@border);
    @sbi: ~'--@{var}-background-image';
    background-image: @image;
    background-image: var(@sbi,@image);
}
.opacity(@var, @opacity) {
    @ov: ~'--@{var}-opacity';
    opacity: @opacity;
    opacity: var(@ov, @opacity);
}
.border(@var,@color:transparent,@width:unset,@style:unset,@radius:unset) {
    @bc: ~'--@{var}-border-color';
    @bw: ~'--@{var}-border-width';
    @bs: ~'--@{var}-border-style';
    @br: ~'--@{var}-border-radius';
    border-color: @color;
    border-color: var(@bc,@color);
    border-width: @width;
    border-width: var(@bw,@width);
    border-style: @style;
    border-style: var(@bs,@style);
    border-radius: @radius;
    border-radius: var(@br,@radius);
}
.font(@var,@size:unset,@family:unset) {
    @fs: ~'--@{var}-font-size';
    @ff: ~'--@{var}-font-family';
    font-size: @size;
    font-size: var(@fs,@size);
    font-family: @family;
    font-family: var(@ff,@family);
}

@default-bgcolor: white;
@default-background: @default-bgcolor;
@default-color: black;
@default-bordercolor: #ddd;
@default-color-l30: lighten(@default-color, 30%);
@default-color-l40: lighten(@default-color, 40%);
@default-color-l50: lighten(@default-color, 50%);
@default-color-l60: lighten(@default-color, 60%);
@default-color-l80: lighten(@default-color, 80%);
@default-color-l90: lighten(@default-color, 90%);
@default-bgcolor-d10: darken(@default-bgcolor, 10%);
@default-bgcolor-d20: darken(@default-bgcolor, 20%);
@default-bgcolor-d30: darken(@default-bgcolor, 30%);
@default-button-bordercolor: @default-bordercolor;
@default-button-color: #666;
@default-button-bgcolor: #eee;
@default-button-active-color: @default-color;
@default-button-active-bgcolor: @default-bordercolor;
@top-font-size: 15px;
@top-color: @default-bgcolor;
@top-bgcolor: @default-color;
@nav-font-size: 15px;
@nav-bgcolor: @default-button-bgcolor;
@nav-color: @default-button-color;
@nav-shadow: @default-color;
@nav-hover-color: @default-button-active-color;
@nav-hover-bgcolor: @default-button-active-bgcolor;
@nav-active-color: @default-button-active-color;
@nav-active-bgcolor: @default-button-active-bgcolor;
@controls-color: @nav-color;
@controls-bgcolor: @default-bgcolor;
@controls-bordercolor: @default-bordercolor;
@controls-shadowcolor: @default-color;
@viewbar-bgcolor: @controls-bgcolor;
@viewbar-bordercolor: @default-bordercolor;
@viewbar-fontsize: medium;

.theme-default-colors {
    .colors(default,@default-color,@default-bgcolor);
}

.theme-default-color {
    .colors(default,@default-color);
}

.theme-default-bgcolor {
    .colors(default,unset,@default-bgcolor);
}

.theme-default-bordercolor {
    .colors(default,unset,unset,@default-bordercolor)
}

.theme-default-hover {
    &:focus , &:active , &:hover {
        .colors(hover, @default-bgcolor, @default-bordercolor);
    }
    &:active {
        .colors(active,@default-bgcolor,@default-bordercolor);
    }
}

.theme-default-button, a.theme-default-button {
    border-style: solid;
    border-width: 1px;
    .colors(button,@default-button-color,unset,@default-button-bordercolor);
    .linear-gradient(@default-button-bgcolor , to bottom , @default-button-bgcolor , @default-button-bordercolor, --button-background-image);

    &:hover {
        .colors(button-hover, @default-color);
        .linear-gradient(@default-button-bgcolor , to bottom , @default-bordercolor , @default-button-bgcolor, --button-hover-background-image);
    }
    &:focus {
        .colors(button-focus, @default-color, black);
        .linear-gradient(@default-button-bgcolor , to bottom , @default-bordercolor , @default-button-bgcolor, --button-focus-background-image);
    }
    &:active {
       .colors(button-active,@default-button-active-color,@default-button-active-bgcolor);
    }
}

body {
    .reset-borders();
    .colors(body,@default-color,@default-bgcolor);
    .font(body,unset,@fonts);
}

a {
    .colors(a,@default-color);
}

input, textarea {
    .colors(input,@default-color,@default-bgcolor);
    &[readonly=readonly] {
        opacity: 0.5;
    }

    &.file-upload {
        opacity: 0;
    }

    &[type=radio], &[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        top: 4px;
        height: 15px;
        width: 15px;
        .border(button,transparent,1px,solid,50px);
        cursor: pointer;
        margin-right: 7px;
        outline: none;
        .font(button,13px);
        .colors(button,@default-color,@default-bgcolor-d30,transparent,unset);
        &:checked::before {
            position: absolute;
            left: 2px;
            top: -2px;
            color: @default-color;
            color: var(--input-checked-color, @default-color);
            content: '\02713';
        }
        &:hover {
            .colors(button-hover,unset,@default-bgcolor-d10,transparent,unset);
        }
        &:active {
            .colors(button-active,unset,@default-bgcolor-d30,transparent,unset);
        }
        &:focus {
            .colors(button-hover,unset,@default-bgcolor-d10,black,unset);
        }
        &:checked {
            .colors(button-checked,unset,@default-bgcolor-d30);
            &:hover {
                .colors(button-hover,unset,@default-bgcolor-d10);
            }
            &:active {
                .colors(button-active,unset,@default-bgcolor-d30);
            }
            &:focus {
                .colors(button-hover,unset,@default-bgcolor-d10,unset,black);
            }
        }
        &[disabled] {
            .colors(button-disabled,@default-color-l60,@default-bgcolor-d30);
            cursor: default;
        }
    }
    &[type=checkbox] {
        .border(button,transparent,1px,solid,2px);
    }
}
.action , .ui-button.action {
    .colors(action,@default-color,transparent);
    &:focus , &:hover {
        .colors(action-hover,unset,@default-button-active-bgcolor);
    }
    &:active {
        .colors(action-active,unset,@default-button-active-bgcolor);
    }
}

.action {
    &.delete , &.foldertree-delete-folder {
        &:focus , &:hover , &:active {
            background-color: #ff6666 ! important;
            background-color: var(--action-delete-active-color, #ff6666) ! important;
        }
    }

    &.flt-view-change.toggle-on {
        border: 1px inset @default-bordercolor;
        border: var(--action-view-change-toggle-border, 1px inset @default-bordercolor);
        background-color: @default-button-active-bgcolor;
        background-color: var(--action-view-change-bgcolor-border, @default-button-active-bgcolor);
    }
}

.link {
    &:hover {
        background-color: @default-button-active-bgcolor;
        background-color: var(--link-hover-bgcolor, @default-button-active-bgcolor);
    }
}

.link-button {
    &:hover:before , &:active:before , &:focus:before {
        .colors(link-button-active, @default-color);
    }
}

.disabled {
    a& , .link& {
        .colors(link-disabled, @default-color-l60);
    }
}

.accesskey {
    .colors(accesskey,@default-color-l40);
    .font(accesskey,80%,monospace);
}

.accesskeydetails {
    .font(accesskey-details,unset,monospace);
}

.note {
    .colors(note,@default-color-l40);
    .font(note,.8em);
}

.disabled {
    a& , .button& , li& {
        opacity: .5;
        opacity: var(--link-disabled-opacity, .5);
    }
}

.neverdisabled {
    .link& , a& {
        opacity: 1;
        opacity: var(--link-neverdisabled-opacity, 1);
        .colors(link-neverdisabled, black);
    }
}

#filler {
    background-color: @default-bgcolor;
    background-color: var(--filler-bgcolor, @default-bgcolor);
}

#top {
    .colors(top,@top-color);
    .lighten(@top-bgcolor , 60%);
    .linear-gradient(@top-bgcolor , to bottom , @top-bgcolor , @lightencolor, --top-background-image);
    .darken(@top-color , 80%);
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.5) , 0 -2px 10px @darkencolor inset, --top-box-shadow);
    .font(top,@top-font-size);
}

#now {
    font-size: 10px;
    font-size: var(--now-font-size, 10px);
}

#nav {
    .linear-gradient(@nav-bgcolor , to right , @default-bgcolor , @nav-bgcolor, --nav-background-image);
    .box-shadow(-3px 0 7px @nav-shadow, --nav-box-shadow);
    > ul > li {
        .lighten(@default-bordercolor , 16%);
        @topcolor: @lightencolor;
        .lighten(@default-bordercolor , 8%);
        @rightcolor: @lightencolor;
        border-top: 1px solid @topcolor;
        border-top: var(--nav-item-border-top, 1px solid @topcolor);
        border-right: 1px solid @rightcolor;
        border-right: var(--nav-item-border-right, 1px solid @rightcolor);
        border-bottom: 1px solid @default-bordercolor;
        border-bottom: var(--nav-item-border-bottom, 1px solid @default-bordercolor);
        border-left: 0;
        font-size: @nav-font-size;
        .colors(nav-item, @nav-color);
        .lighten(@nav-color , 55%);
        text-shadow: 0 1px 0 @lightencolor;
        text-shadow: var(--nav-item-text-shadow, 0 1px 0 @lightencolor);
        &:hover , &:focus {
            .colors(nav-item-hover, @nav-hover-color, @nav-hover-bgcolor);
        }

        &:active {
            .colors(nav-item-active, @nav-active-color, @nav-active-bgcolor);
        }
    }
}

#controls {
    .colors(controls, @default-color, @controls-bgcolor);
    border-bottom: 1px solid @controls-bordercolor;
    border-bottom: var(--controls-border-bottom, 1px solid @controls-bordercolor);
    .box-shadow(0 -3px 7px @controls-shadowcolor, --controls-box-shadow);
    .toolbar {
        .font(controls-toolbar, 15px);
        > .action, > li.uibutton {
            .colors(controls-action, @default-button-color, unset);
            &:active {
               .colors(controls-action-active, unset, @default-button-active-bgcolor);
            }
            &:focus , &:hover {
               .colors(controls-action-hover, unset, @default-button-active-bgcolor);
            }
        }

        > li {
            .font(controls-item, 15px);
            .colors(controls, @default-color, @controls-bgcolor);
        }
    }
}

#pathinput {
    font-size: 100%;
    font-size: var(--pathinput-font-size, 100%);
}

#autorefreshtimer {
    .colors(autorefreshtimer, @default-button-color, @default-button-bgcolor, @default-button-bordercolor);
    .box-shadow(3px 0 7px @default-button-bordercolor, --autorefreshtimer-box-shadow);
    font-size: 15px;
    font-size: var(--autorefreshtimer-font-size, 15px);
}

.collapsible {
    border: 1px solid @default-button-bordercolor;
    opacity: 0.5;
    &.top , &.left {
        opacity: 0;
    }

    &:hover , &:active , &:focus {
        opacity: 1;
    }

    &.action.collapse-sidebar {
        background-color: @nav-bgcolor;
    }

    &.action.collapse-head {
        background-color: @nav-bgcolor;
    }
}

#quicknav {
    .colors(quicknav, @controls-color, @default-bgcolor);
    .border(quicknav, transparent, 1px, solid);
    .quicknav-el.action {
        .colors(quicknav-action, unset, unset);
        &:hover , &:focus {
            .colors(quicknav-action-hover, @default-button-active-color, @default-button-active-bgcolor)
        }
        &:active {
            .colors(quicknav-action-active, @default-button-active-color, @default-button-active-bgcolor)
        }
    }
}

#fileactions {
    font-size: 15px;
    font-weight: normal;
    .label {
        font-size: 15px ! important;
        font-style: normal;
        font-family: sans-serif;
        text-transform: none;
    }
}

.fileactions-popup {
    li {
        font-size: 15px ! important;
    }
}

#fileList {
    .filename .nametext {
        font-weight: unset;
    }

    .mode {
        font-family: monospace;
    }

    .selectbutton {
        opacity: 0;
        &:hover , &:focus {
            opacity: 0.8;
        }

        &:checked {
            opacity: 1;
        }

        &:disabled {
            opacity: 0;
        }
    }

    tr {
        &:hover , &.draghover, &:hover td, &.draghover td {
            @trc: ~'@{default-color} !important';
            @trb: ~'@{default-bgcolor-d10} !important}';

            .colors(filelist-row-hover, @trc, @trb);
        }
        &:focus {
            .colors(filelist-row-focus, @default-color, @default-bgcolor-d10);
        }

        &.cutted , &.cutted a {
            .colors(filelist-row-cutted, @default-color-l60, @default-bgcolor);
        }

        &.selected {
            .colors(filelist-row-selected, @default-color, @default-bgcolor-d20);
            &:hover {
                .colors(filelist-row-selected-hover, @default-color, @default-bgcolor-d30);
            }
            &:focus, &:active {
                .colors(filelist-row-selected-focus, @default-color, @default-bgcolor-d30);
            }
        }

        &.isreadable-no {
            .colors(filelist-row-isnotreadable, @default-color-l60, unset);
            a {
                .colors(filelist-row-isnotreadable, @default-color-l60, unset);
            }

            &:hover , &:active , &:focus {
                .colors(filelist-row-isnotreadable-hover, @default-color-l50,@default-bgcolor-d20);
            }

            &.selected {
                .colors(filelist-row-isnotreadable-selected, @default-color-l80, unset);
                &:hover , &:active , &:focus {
                    .colors(filelist-row-isnotreadable-selected-hover, @default-color-l90, unset);
                }
            }
        }
    }
}

.filterbox {
    li& {
        font-weight: bold;
        font-weight: var(--filterbox-font-weight, bold);
        .colors(filterbox, @default-color-l50);
    }
}

.flt-view-list , .flt-view-thumbs {
    .draghover {
        border: unset;
        border: var(--flt-view-list-thumbs-draghover-border, unset);
        background-color: @default-button-active-bgcolor;
        background-color: var(-flt-view-list-thumbs-draghover-bgcolor, @default-button-active-bgcolor);
    }

    #fileList {
        tr {
            border: 3px solid transparent;
            &.selected {
                border: 3px inset @default-bordercolor;
                border: var(--flt-view-list-thumbs-border, 3px inset @default-bordercolor);
            }
        }
    }
}

#fileListTable {
    font-size: 15px;
    tr {
        border-top: 1px solid @default-bordercolor;
        border-top: var(--filelisttable-border-top, 1px solid @default-bordercolor);
        border-bottom: 1px solid @default-bordercolor;
        border-bottom: var(--filelisttable-border-bottom, 1px solid @default-bordercolor);
    }

    th {
        .colors(filelisttable-head, @default-color-l50, @default-bgcolor);
        &.dragged {
            opacity: 0.8;
        }
    }

    .draghover {
        border-left: 2em solid @default-bordercolor;
    }
}

.statistics {
    .colors(statistics, @default-color-l30);
    font-size: 0.8em;
    font-size: var(--statistics-font-size, 0.8em);
    border-bottom: 1px solid @default-bordercolor;
    border-bottom: var(--statistics-border-bottom, 1px solid @default-bordercolor);
}

.selstats {
    .colors(selstats, unset, @default-bgcolor-d20);
}

.icon {
    color: transparent;
    &.thumbnail {
        background-color: transparent ! important;
        background-color: var(--icon-bgcolor, transparent) ! important;
    }
}

#overlay , .overlay {
    .opacity(overlay, 0.5);
    .colors(overlay, unset, @default-bgcolor);
}

#content {
    background-color: @default-bgcolor;
    background-color: var(--content-bgcolor, @default-bgcolor);
    &.hover {
        border: 5px solid green;
        border: var(--content-hover-border, 5px solid green);
    }
}

#viewbar {
    .colors(viewbar, @default-color, @viewbar-bgcolor);
    .border(viewbar, @viewbar-bordercolor, 1px, solid);
    .font(viewbar, @viewbar-fontsize);
}

#quota {
    .colors(quota, @default-button-color);
    font-weight: normal;
    font-weight: var(--quota-font-weight, normal);
    .quotabar {
        border: 1px solid @default-bordercolor;
        border: var(--quota-bar-border, 1px solid @default-bordercolor);
        background-color: @default-bgcolor;
        background-color: var(-quota-bar-bgcolor, @default-bgcolor);
    }

    .quotaused {
        background-color: @default-bordercolor;
        background-color: var(--quota-used-bgcolor, @default-bordercolor);
        border: 1px outset @default-bordercolor;
        border: var(--quota-used-border, 1px outset @default-bordercolor);
    }

    &.warn , .warn {
        .colors(quota-warn, @default-button-color, yellow);
    }

    &.critical , .critical {
        .colors(quota-critical, yellow, red);
    }
}

#foldertree-pane {
    .colors(foldertree, @default-color, @default-bgcolor);
    .border(foldertree, @default-bordercolor, 2px, solid);
    .mft-node-label {
        .colors(foldertree-label, @default-color, @default-bgcolor);
        &.foldertree-draghover {
            .colors(foldertree-label-draghover, @default-color, @default-bordercolor)
        }

        &:hover, &:focus {
            .mft-node-label-text {
                .colors(foldertree-label-text-hover, @default-color, @default-button-active-bgcolor, none);
            }
        }
        &:active {
            .mft-node-label-text {
                .colors(foldertree-label-text-active, @default-color, @default-button-active-bgcolor, none);
            }
        }
    }

    .isreadable-no .mft-node-label-text {
        .colors(foldertree-label-isnotreadable, @default-color-l60, @default-bgcolor);
     }

    .mft-node-expander {
        .opacity(foldertree-node-expander, 0.5);
        &:hover, &:focus {
            .colors(foldertree-node-expander-hover, @default-color, @default-button-active-bgcolor);
        }
        &:active {
            .colors(foldertree-node-expander-active, @default-color, @default-button-active-bgcolor);
        }
    }

    .mft-node-read > .mft-node-expander {
        .opacity(foldertree-node-expander-read, 1);
    }
}

.show-foldertree {
    .action.toggle-foldertree {
        border: 1px inset @default-bordercolor;
        border: var(--show-foldertree-toggle-border, 1px inset @default-bordercolor);
        background-color: @default-button-active-bgcolor;
        background-color: var(--show-foldertree-toggle-bgcolor, @default-button-active-bgcolor);
    }
}

#foldertreetoolbar {
    .colors(foldertree-toolbar, @controls-color, @controls-bgcolor);
    .border(foldertree-toolbar, @default-bordercolor, 1px, solid);
}

.tableconfigdialog {
    .colors(tableconfigdialog, @default-color, @default-bgcolor);
}

.tableconfigbutton {
    border: 1px solid @default-button-bordercolor;
    border: var(--tableconfigbutton, 1px solid @default-button-bordercolor);
}

.symbol {
    color: @default-color-l50;
    color: var(--symbol-color, @default-color-l50);
    font-weight: bold;
    font-weight: var(--symbol-font-weight, bold);
    &:hover , li:hover > & , &:active , li:active > & , &:focus , li:focus > & {
        color: @default-color;
        color: var(--symbol-hover-color, @default-color);
    }
}

.viewfilterinfo {
    background-color: yellow;
    background-color: var(--viewfilterinfo-color, yellow);
    font-size: 0.8em;
    font-size: var(--viewfilterinfo-font-size, 0.8em);
}

#abortdialog {
    .colors(abortdialog, @default-color, @default-bgcolor);
    .border(abortdialog, @default-bordercolor, 1px, solid);
}

.dropdown-menu {
    .colors(dropdown, @default-color, @default-bgcolor);
    .border(dropdown, @default-bordercolor, 1px, solid);
    .box-shadow(3px 0 7px @default-bordercolor, --dropdown-box-shadow);
}

#progress {
    .colors(progress, unset, @default-bgcolor);
    .bar {
       .colors(progress-bar, black, #ddddff);
       .border(progress-bar,#aaaaff, 1px, solid);
        &.done {
            .colors(progress-bar-done, black, lightgreen);
        }
        &.failed {
            .colors(progress-bar-failed, black, #ffaaaa);
        }
    }

    .info {
        font-size: 0.9em;
        .fileprogress {
            border: 1px solid @default-bordercolor;
        }

        .fileprogressbar {
            &.running {
                border-bottom: 2px solid #4444ff;
                border-bottom: var(--progress-filebar-running, 2px solid #44f);
            }
            &.done {
                .colors(progress-bar-done, black, lightgreen);
            }
            &.failed {
                .colors(progress-bar-failed, black,#fbb);
            }
            &.aborted {
                .colors(progress-bar-aborted, black, #fbb);
            }
        }
    }
}

.langswitch {
    .colors(langswitch, @default-bgcolor, transparent);
    font-size: 10px;
    a {
        .colors(langswitch, @default-bgcolor, transparent);
        border: 1px solid transparent;
        &:hover , &:focus , &:active {
            border: 1px solid @default-bgcolor;
        }
    }
}

ul.popup {
    .colors(popup, @default-color, @default-bgcolor);
    .linear-gradient(@default-bgcolor , to right , @default-bgcolor , @default-bgcolor-d10, --popup-background-image);
    border: 1px solid @default-bordercolor;
    border: var(--popup-border, 1px solid @default-bordercolor);
    .box-shadow(3px 0 7px @default-bordercolor, --popup-box-shadow);
    li , li.popup {
        font-size: 15px;
        font-weight: initial;
        text-shadow: none;
        color: @default-color;
        color: var(--popup-item-color, @default-color);
        &:hover , &:focus , &:active {
            color: @default-color;
            color: var(--popup-item-hover-color, @default-color);
        }
    }
}

li.popup , li.action {
    &:hover {
        border: 1px dotted @default-button-bordercolor;
        background-color: @default-button-active-bgcolor;
        background-color: var(--popup-item-hover-bgcolor, @default-button-active-bgcolor);
    }

    &:focus , &:active {
        border: 1px solid @default-button-bordercolor;
        background-color: @default-button-active-bgcolor;
        background-color: var(--popup-item-hover-bgcolor, @default-button-active-bgcolor);
    }
}

li.action.disabled {
    &:hover , &:focus , &:active {
        .lighten(@default-button-active-bgcolor , 8%);
        background-color: @lightencolor;
        background-color: var(--action-disabled-bgcolor, @lightencolor);
    }
}

li.sep {
    border-top: 1px solid @default-bordercolor ! important;
    border-top: var(--item-seperator-border-top, 1px solid @default-bordercolor) ! important;
}

#statusbar {
    .box-shadow(-3px 0 3px @default-color, --statusbar-box-shadow);
    .colors(statusbar, @default-color, @controls-bgcolor);
    background-image: none;
    background-image: var(--statusbar-background-image, none);
    font-size: 15px;
    font-size: var(--statusbar-fonts-size, 15px);
    .notify {
        background-color: @default-bgcolor;
        background-color: var(--statusbar-notify-bgcolor, @default-bgcolor);
        border: 1px solid @default-bordercolor;
        border: var(--statusbar-notify-border, 1px solid @default-bordercolor);
        &.error {
            .colors(statusbar-notify-error, white, red);
        }

        &.message {
            .colors(statusbar-notify-msg, @default-color, white);
        }

        &.warning {
            .colors(statusbar-notify-warn, @default-color, #ffd700);
        }
    }

    .selected-files-stats {
        .colors(statusbar-selected-files-stat, unset, @default-bgcolor-d20);
    }
}

.tabsels {
    border: 1px solid @default-bordercolor;
    border: var(--tabsels, 1px solid @default-bordercolor);
}

.tabsel {
    border-width: 1px;
    border-style: solid;
    .colors(tabsel,unset,unset,@default-bordercolor,unset);
    &:hover , &:focus , &:active {
        .colors(tabsel-hover,@default-color,@default-bgcolor-d20,unset,unset);
    }
    &.activetabsel {
        .colors(tabsel-active,unset,@default-bgcolor-d30, @default-color);
    }
}

.tabhead {
    font-weight: bold;
    font-weight: var(-tabhead-font-weight, bold);
    border-bottom: 1px solid @default-color;
    border-bottom: var(-tabhead-border-bottom, 1px solid @default-color);
}

.contexthelp {
    border: 1px solid @default-bordercolor;
    border: var(--contexthelp-border, 1px solid @default-bordercolor);
    font-size: 0.8em;
    font-size: var(-contexthelp-font-size, 0.8em);
}

.ajax-loader {
    opacity: 0.7;
    opacity: var(--ajax-load-opacity, 0.7);
    .colors(ajax-load, @default-color, @default-bgcolor);
}
#about , #settings , #viewfilter {
    .colors(dialog, @default-color, @default-bgcolor);
}

.tooltip {
    .colors(tooltip, @default-color);
    .linear-gradient(@default-bgcolor , to right , @default-bordercolor , @default-bgcolor, --tooltip-background-image);
}
.ui-widget-header , .ui-widget-content, .ui-widget-content a {
    .colors(ui-widget, @default-color, @default-bgcolor, @default-bordercolor);
}

.ui-widget-header {
    .colors(dialog-header, @default-color);
    .linear-gradient(@default-bgcolor , to bottom , @default-bordercolor , @default-bgcolor, --dialog-header-background-image);
}

.ui-widget-overlay {
    .radial-gradient(@default-bordercolor , @default-bgcolor, --dialog-widget-radial-gradient);
    .opacity(overlay, 0.5);
}

.ui-button , button, input[type=submit], select {
    &:extend(.theme-default-button);
    &:hover, &:focus {
        &:extend(.theme-default-button:hover);
    }
    &:active {
        &:extend(.theme-default-button:active);
    }
}
.icon, .action, .home-button, .logout-button, .contact-button, .link-button, .help-button, .popup .label, .ui-button {
    filter: unset;
    filter: var(--action-icon-filter, unset);
}
.ui-state-hover {
    .colors(button-active, @default-color, @default-button-active-bgcolor);
}

.ui-widget-content .ui-state-default , .ui-widget-content .ui-state-default a{
    .colors(widget-content, @default-button-color);
    background-image: linear-gradient(to bottom, @default-button-bgcolor, @default-bgcolor, @default-button-bgcolor);
    background-image: var(--ui-widget-content-background-image, linear-gradient(to bottom, @default-button-bgcolor, @default-bgcolor, @default-button-bgcolor));
    &:hover, &:focus, &:active {
        .colors(ui-widget-content-hover, @default-button-active-color);
        background-image: linear-gradient(to bottom, @default-button-active-bgcolor, @default-bgcolor, @default-button-active-bgcolor);
        background-image: var(--ui-widget-content-hover-background-image, linear-gradient(to bottom, @default-button-active-bgcolor, @default-bgcolor, @default-button-active-bgcolor));
    }
}