<li><a class="help-button" target="_blank" href="http://webdavcgi.sf.net/vbox.html">Help</a></li>
<li><a class="logout-button" href="/logout">Logout</a></li>
<li><a class="contact-button" href="mailto:d.rohde@cms.hu-berlin.de?subject=WebDAV%20CGI%20VBox">Contact</a></li>
