<div title="$tl(search.dialogtitle)" class="search dialogpane">
<form method="post" action="#">
	<input type="hidden" name="action" value="search"/>
	<input type="hidden" class="search id" name="searchid" value="$getSearchId()"/>
   $renderSelectedFiles(<input type="hidden" name="files" value="$v"/>)
   
<div class="search infolders" title="$searchinfolderstitle">$tl(search.searchinfolders): $searchinfolders</div>
<div class="search formpanel">
	<div class="search query">
		$tl(search.query): <input class="search query" type="text" name="query" value=""/> 
	</div>
	<div class="search filenamesearch">
		
			<input type="radio" name="searchin" value="filename" checked="checked"/>$tl(search.filenameoption)
			<!--IF("$extconfig(allow_contentsearch)" eq "1")-->
				<input type="radio" name="searchin" value="content"/>
				<span>
			<!--ELSE-->
				<input type="radio" name="searchin" value="content" disabled="disabled"/>
				<span class="search disabled">
			<!--ENDIF-->
			$tl(search.contentoption)</span>
			
	</div>
	<div class="search moreoptionscollapser">$tl(search.moreoptions)</div>
	<div class="search moreoptions">
		<div class="search typeonly">$tl(search.typeonly): 
				<input type="checkbox" name="filetype" checked="checked"/> $tl(search.filetype)  
				<input type="checkbox" name="foldertype" checked="checked"/> $tl(search.foldertype)
				<input type="checkbox" name="linktype" checked="checked"/> $tl(search.linktype) 
		</div>
		<div class="search size">$tl(search.size):
			<select name="sizecomparator">
				<option value="&lt;">&lt;</option>
				<option value="&lt;=">&le;</option>
				<option value="==" selected="selected">=</option>
				<option value="&gt;=">&ge;</option>
				<option value="&gt;">&gt;</option>
			</select>
			<input type="text" name="size" size="5"/>
			<select name="sizeunits">
				$each#@BYTEUNITORDER#'<option value="$v">$v</option>'#'$view'#
			</select>,
		$tl(search.time): 
			<select name="timecomparator">
			<option value="&gt;=">$tl(search.olderthan)</option>
			<option value="&lt;=">$tl(search.newerthan)</option>
			</select>
			<input type="text" name="time" size="5"/>
			
			<select name="timeunits">
				<option value="seconds">$tl(search.seconds)</option>
				<option value="minutes">$tl(search.minutes)</option>
				<option value="hours">$tl(search.hours)</option>
				<option value="days" selected="selected">$tl(search.days)</option>
				<option value="weeks">$tl(search.weeks)</option>
				<option value="months">$tl(search.months)</option>
				<option value="years">$tl(search.years)</option>
			</select>
		</div>
		<!--IF( "$extconfig(disable_dupsearch)" != "1")-->
			<div class="search duplicate"><input type="checkbox" name="dupsearch">$tl(search.duplicatefiles)</div>
		<!--ENDIF-->
	</div>
</div>
<div class="search buttonpanel">
	<div><input class="search start" type="submit" name="search" value="$tl(search.startsearch)"/></div>
	<div><input class="search cancel" type="button" name="cancel" value="$tl(search.cancelsearch)"/></div>
</div>
<div class="search resultpanel">
	<div class="search statusbar"> </div>
	<div class="search resultcontentpane">$tl(search.noresult)</div>
	
</div>

</form>
<div class="template">
<div class="msg search inprogress">$tl(search.inprogress)</div>
<div class="msg search aborted">$tl(search.aborted)</div>
</div>
</div>