<div title="$tl(search.dialogtitle)" class="search dialogpane">
<script>
$(".search-datepicker").datepicker({ firstDay: $FIRSTDAY, monthNames : [$MONTHNAMES], monthNamesShort : [$MONTHNAMESABBR], dayNames : [$DAYNAMES], dayNamesShort : [$DAYNAMESABBR], dayNamesMin : [$DAYNAMESMIN], dateFormat : "$DATEFORMAT" });

</script>
<form method="post" action="#" class="search-form">
	<input type="hidden" name="action" value="search">
	<input type="hidden" class="search id" name="searchid" value="$getSearchId()">
	<input type="hidden" name="${TOKENNAME}" value="${TOKEN}">
   $renderSelectedFiles(<input type="hidden" name="files" value="$v">)
   
<div class="search infolders" title="$searchinfolderstitle">$tl(search.searchinfolders): $searchinfolders</div>
<div class="search-form-and-buttons">
<div class="search formpanel">
	<div class="search query">
		$tl(search.query): 
		<input class="search query" type="search" name="query" value="">
		<div class="search-reset-button" aria-label="$tl(search.resetquery)" title="$tl(search.resetquery)" tabindex="0">×</div>
		<div class="contexthelp search" tabindex="0" aria-label="$tl(help)" aria-describedby="MyTooltip" data-htmltooltip="$inchelp(query)"></div>
	</div>
	<div class="search filenamesearch">
			<label><input type="radio" name="searchin" value="filename" checked="checked">$tl(search.filenameoption)</label>	
			<!--IF("$extconfig(allow_contentsearch)" eq "1")-->
			<label>
				<input type="radio" name="searchin" value="content">
			<!--ELSE-->
			<label class="search disabled">
				<input type="radio" name="searchin" value="content" disabled="disabled">
			<!--ENDIF-->
				$tl(search.contentoption)
			</label>
	</div>
	<div class="search moreoptionscollapser" tabindex="0" role="button" aria-label="$tl(search.moreoptions)" aria-expanded="false">$tl(search.moreoptions)</div>
	<div class="search moreoptions">
		
		<fieldset class="search typeonly">
			<div>$tl(search.typeonly): 
				<label><input type="checkbox" name="filetype" checked="checked" aria-label="$tl(search.typeonly) $tl(search.filetype)">$tl(search.filetype)</label>   
				<label><input type="checkbox" name="foldertype" checked="checked" aria-label="$tl(search.typeonly) $tl(search.foldertype)">$tl(search.foldertype)</label>
				<label><input type="checkbox" name="linktype" checked="checked" aria-label="$tl(search.typeonly) $tl(search.linktype)">$tl(search.linktype)</label>
			</div> 
		</fieldset>
		<fieldset class="search size">
			<label>
			$tl(search.size):
			<select name="sizecomparator" class="search-select">
				<option value="&lt;">&lt;</option>
				<option value="&lt;=">&le;</option>
				<option value="==" selected="selected">=</option>
				<option value="&gt;=">&ge;</option>
				<option value="&gt;">&gt;</option>
			</select>
			<input class="search-size" type="number" name="size" min="0" step="1"/>
			<select name="sizeunits" class="search-select">
				$each#@BYTEUNITORDER#'<option value="$v">$v</option>'#'$view'#
			</select>
			</label>
			<label>
			$tl(search.time): 
			<select name="timecomparator" class="search-select">
				<option value="&gt;=">$tl(search.olderthan)</option>
				<option value="&lt;=">$tl(search.newerthan)</option>
			</select>
			<input class="search-timecomparator" type="number" name="time" min="0" step="1"/>
			<select name="timeunits" class="search-select search-time-units">
				<option value="seconds">$tl(search.seconds)</option>
				<option value="minutes">$tl(search.minutes)</option>
				<option value="hours">$tl(search.hours)</option>
				<option value="days" selected="selected">$tl(search.days)</option>
				<option value="weeks">$tl(search.weeks)</option>
				<option value="months">$tl(search.months)</option>
				<option value="years">$tl(search.years)</option>
			</select>
			</label>
		</fieldset>
		<fieldset class="search daterange">
			<div>
				$tl(lastmodified):
				<label>&ge; <input type="text" size="10" name="mstartdate" class="search-datepicker"></label>
				<label>&le; <input type="text" size="10" name="menddate" class="search-datepicker"></label>
			</div>
			<div>
				$tl(created):
				<label>&ge; <input type="text" size="10" name="cstartdate" class="search-datepicker"></label>
				<label>&le; <input type="text" size="10" name="cenddate" class="search-datepicker"></label>
			</div>
		</fieldset>
		<!--IF( "$extconfig(disable_dupsearch)" != "1")-->
			<fieldset class="search duplicate">
				<label>
					<input type="checkbox" name="dupsearch">$tl(search.duplicatefiles)
					<span class="contexthelp" data-htmltooltip="$inchelp(duplicates)" tabindex="0" aria-label="$tl(help)" aria-describedby="MyTooltip"></span>
				</label>
			</fieldset>
		<!--ENDIF-->
	</div>
</div>
<div class="search buttonpanel">
	<div class="uibutton search start theme-default-button"><div class="search-icon">$tl(search.startsearch)</div></div>
	<div class="uibutton search cancel theme-default-button"><div class="cancel-icon">$tl(search.cancelsearch)</div></div>
</div>
</div>
<div class="search resultpanel">
	<div class="search statusbar"> </div>
	<div class="search-result-thumb-view-toggle-button ai-flt-view-thumbs theme-default-hover" title="$tl(search.togglethumbview)"></div>
	<div class="search resultcontentpane">$tl(search.noresult)</div>
	
</div>

</form>
<div class="template">
<div class="msg search inprogress">$tl(search.inprogress)</div>
<div class="msg search aborted">$tl(search.aborted)</div>
</div>
</div>